<!DOCTYPE html>
<html lang="en">
{include file="Common/head"/}

<body>
    {include file="Common/header"/}
    <!-- banner -->
    <div class="swiper-container swiper-container-index">
        <div class="swiper-wrapper">
            <div class="indexbanner minw swiper-slide"><img src="__index__/images/page3.png"/></div>
            <div class="indexbanner minw swiper-slide"><img src="__index__/images/page3.png"/></div>
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination" id="bannerpagination"></div>
    </div>
    <div class="contentWidth am-padding-bottom-xl">
        <div class="center tuijian_title">
            <h1>自主研发教学硬件</h1>
            <p class="weight">联合中南大学、中山大学人工智能研发团队共同研发国际竟争力的机器人教学教具</p>
            <p class="intr_text">
                海客根据中国学生的身心发展特点，研发了MEI机器人课程体系，并配置专用的教学硬件，打造最适合中国青少年的机器人课程。教具兼容多种编程语言和传感器，让学生能够充分发挥自己的想像力，轻松完成自己的机器人作品。
            </p>
        </div>
    </div>
    <div class="widthimg contentWidth am-padding-bottom-xl">
        <img src="__index__/images/05_01.png" class="pic"/>
        <img src="__index__/images/05_02.png" class="pic"/>
        <img src="__index__/images/05_03.png" class="pic"/>
    </div>
  {include file="Common/layer"/}
    {include file="Common/layerbox"/}
    {include file="Common/footer"/}
    <script src="__index__/js/title.js" defer></script>
</body>

</html>