<!DOCTYPE html>
<html lang="en">
{include file="Common/head"/}

<body>
    {include file="Common/header"/}
    <!-- banner -->
    <div class="swiper-container swiper-container-index">
        <div class="swiper-wrapper">
            <div class="indexbanner minw swiper-slide">
            <img src="__index__/images/page1.png"/>
            </div>
            <div class="indexbanner minw swiper-slide">
                <img src="__index__/images/page1.png"/>
                </div>
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination" id="bannerpagination"></div>
    </div>
    <div class="contentWidth">
        <div class="introducevex" id="intrtop">
            <ul>
                <li><a href="#">启蒙课程</a></li>
                <li><a href="#">MEI机器人课程</a></li>
                <li><a href="#">SPN编程课程</a></li>
                <li><a href="#">竞赛课程</a></li>
            </ul>
        </div>
    </div>
    <div class="widthimg contentWidth intrheight">
        <div class="center tuijian_title">
            <h1>4大课程体系介绍</h1>
            <p>海客机器人课程与<span class="green">STEAM</span>的结合</p>
            <p class="intr_text">
                海客智能机器人课程，致力于为青少年提供智能机器人教育培训解决方案，深度体现STEAM教育理念。通过益智积木搭建，科技模型制作，机器人设计、组装和编程等系列活动，让孩子提升动手能力，学习数理知识，训练逻辑思维，学会分析和解决问题，发展沟通协作技巧等，成为具有独立思考能力和创造力的未来型人才。
            </p>
        </div>
        <img src="__index__/images/p1.png" class="pic"/>
    </div>

    <div class="contentWidth">
        <div class="center tuijian_title tuijian_title_line mei">
            <h1>MEI课程体系</h1>
            <p class="intr_text">
                海客智能机器人课程根据国内外教育现状进行设置，所独创的MEI进阶的课程体系，通过分阶段和针对性，带领处于不同学习阶段的同学进入不同的机器人时代。从低阶到高阶分别为：机械时代、电气时代和智能时代。
            </p>
        </div>
        <div class="intr_center">
            <ul>
                <li>
                    <a class="pic">
                        <img src="__index__/images/p2_03.png" />
                    </a>
                    <div class="con">
                        <span class="weight f26">机械style</span>
                        <div class="f24">机械结构与传动学习</div>
                        <div class="tit">
                            <div class="f18">
                                <strong>适合年龄：</strong><em>小学</em>
                            </div>
                            <div class="f18">
                                <strong>课程内容：</strong><em>机械结构、机械传动</em>
                            </div>
                        </div>
                        <p class="f16 gray">通过机械style三个阶段的学习,让学生能够运用机械结构和传动相关原理，认识复杂的传动结构,深刻理解传动原理。结合自己的机械基础，能够设计出复杂的传动结构。</p>
                    </div>
                </li>
                <li>
                    <a class="pic">
                        <img src="__index__/images/p2_05.png" />
                    </a>
                    <div class="con">
                        <span class="weight f26">电气style</span>
                        <div class="f24">传感器交互学习</div>
                        <div class="tit">
                            <div class="f18">
                                <strong>适合年龄：</strong><em>小学、初中</em>
                            </div>
                            <div class="f18">
                                <strong>课程内容：</strong><em>传感器交互、编程学习、变量控制</em>
                            </div>
                        </div>
                        <p class="f16 gray">
                            通过电气style三个阶段的学习，初步学习智能控制、数据采集和调用、多传感交互，实现半智能人机互动，锻炼编程能力与逻辑思维，学习变量控制，理解智能控制思想，结合实际任务实现半智能机器人。
                        </p>
                    </div>
                </li>
                <li>
                    <a class="pic">
                        <img src="__index__/images/p2_07.png" />
                    </a>
                    <div class="con">
                        <span class="weight f26">智能style</span>
                        <div class="f24">智能机器人系统学习</div>

                        <div class="tit">
                                <div class="f18">
                                    <strong>适合年龄：</strong><em>小学、初中、高中</em>
                                </div>
                                <div class="f18">
                                    <strong>课程内容：</strong><em>智能家居、智能小区、通信互联</em>
                                </div>
                            </div>
                        <p class="f16 gray">
                            通过各种智能应用的场景穿插于课程中，把未来人工智能项目、物联网项目具体化，把相关知识融入课程当中。学习如何与人工智能接轨，未来世界的物联网如何构成和发展，培养孩子科学素养、合作精神、项目管理能力和领导能力。
                        </p>
                    </div>
                </li>
            </ul>
        </div>
        <div class="center tuijian_title tuijian_title_line spn">
            <h1>SPN编程课程体系</h1>

            <p class="intr_text">
                海客智能机器人课程为顺应国家政策和时代发展的潮流，独创性地研发了Scratch、Python、NOIP的课程体系。学习编程不仅仅是掌握编程语言，更重要在学习编程的过程中形成编程思维，锻炼思维的逻辑性和完整性，为未来的发展提供更多的可能。
            </p>
            <p class="intr_text">
                未来是人工智能的时代，更是编程的时代。如今，教育大省北京、山东和浙江都确定把编程纳入信息技术课程和高考的内容体系，学习编程也成为未来的一种趋势 。
            </p>
        </div>
        <div class="intr_block">
            <ul>
                <li>
                    <a>
                        <div class="f26 weight">Scratch</div>
                        <div class="f20">编程思维训练</div>
                        <div class="f18">
                            <p>适合年龄：小学、中学</p>
                            <p>课程内容：Scratch游戏、动画制作</p>
                        </div>
                        <div class="f16">
                            Scratch是由麻省理工学院推出的编程工具，是适合于全世界儿童学习编程和交流的工具和平台，该平台采用Java构建，作品可以随意发布到互联网和光盘U盘上。Scratch利用图形化界面，把编程需要的基本技巧囊括其中，包括建模，控制，动画，事件，逻辑，运算，等等。海客学员在学习Scratch过程中形成编程思维，锻炼思维的逻辑性和完整性，为未来的发展提供更多的可能。
                        </div>
                    </a>
                </li>
                <li>
                    <a>
                        <div class="f26 weight">Python</div>
                        <div class="f20">高级动态编程语言学习</div>
                        <div class="f18">
                            <p>适合年龄：初中、高中</p>
                            <p>课程内容：Python编程语言学习</p>
                        </div>

                        <div class="f16">
                            未来是编程的时代，更是Python的时代，Python是人工智能时代第一语言，也是大数据与机器学习的必备语言。海客创造性的研发适合青少年的Python课程
                            ，通过趣味性的方式，让学员轻松的掌握Python的精华知识。通过Python编程的学习，能够运用Python解决生活中的一些问题。
                        </div>
                    </a>
                </li>
                <li>
                    <a>
                        <div class="f26 weight">NOIP课程</div>
                        <div class="f20">C++基础学习、算法学习</div>
                        <div class="f18">
                            <p>适合年龄：小学、初中、高中 </p>
                            <p>课程内容：C++语法、算法</p>
                        </div>
                        <div class="f16">
                            全国青少年信息学奥林匹克联赛（简称NOIP）是中国计算机学会举办的一项竞赛，是教育部认可的五大学科竞赛之一。NOIP主要考察计算机基本组成、操作系统、计算机网络、程序设计知识、数学逻辑知识等，要求学生有较强的编程和上级调试的实践能力。NOIP从2020年起取消PASCAL语言和C语言试题，所以本课程使用C++授课。
                        </div>
                    </a>
                </li>
            </ul>
        </div>
        <div class="center tuijian_title tuijian_title_line robotjs">
            <h1>机器人竞赛</h1>
            <p class="intr_text">
                海客建立了一套完整的机器人竞赛培训体系，为竞赛项目设置独立的部门。在金牌教练的指导下，在科协和电教馆组织的全国、省、市各级机器人官方比赛，VEX、
                WER等国际官方赛事中均屡屡斩获大奖，获奖学员不仅在升学和自主招生考试中获得降分资格，在报考世界名校中也能获得更多优势。
            </p>
        </div>
        <div>
            <img src="__index__/images/p3.png" alt="" />
        </div>
        <div class="intr_radius clearfix">
            <ul>
                <li>
                    <a>
                        <div class="radius lf">VEX</div>
                        <div class="right">
                            <div class="text">
                                <h1 class="weight f24">VEX工程挑战赛</h1>
                                <p class="f16">
                                    VEX是全球规模最大，最受科技类大学认可的机器人比赛，也是中国青少年机器人竞赛中的重要项目。截止目前，全美293所大学，为VEX比赛获奖选手提供奖学金，常青藤名校更会对获奖选手提供特别加分。小学、初中、高中都可以参加VEX机器人比赛，获奖选手都将成为世界各地各大名校的宠儿，大学也可以继续参加VEX机器人比赛，获奖者将获得Google等科技公司的就业机会。海客拥有一批专业的VEX教练，在VEX官方赛事、科协组织的国家级、省级比赛均斩获大奖。
                                </p>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a>
                        <div class="radius lf">WER</div>
                        <div class="right">
                            <div class="text">
                                <h1 class="weight f24">WER世界教育机器人大赛</h1>
                                <p class="f16">
WER是一项面向全球4-18岁青少年的教育机器人竞赛，每年全球有超过50多个国家的50万名选手参加各级WER选拔赛。WER世界锦标赛的获胜者将为自己、学校和国家带来荣誉，获得每年不断提升的奖学金，甚至被大学直接录取或作为录取的重要依据。海客智能WER项目在国际官方赛事中多次斩获大奖，2017年在WER世界锦标赛中获得亚军，这可是这一赛事最高规格的比赛。
                                </p>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a>
                        <div class="radius lf">综合技能</div>
                        <div class="right">
                            <div class="text">
                                <h1 class="weight f24">机器人综合技能</h1>
                                <p class="f16">
                                        机器人综合技能比赛是中国青少年机器人竞赛项目之一，要求参赛的代表队在现场自行拼装机器人、编制机器人运行程序、调试和操作机器人。在中国青少年机器人竞赛中设置机器人综合技能比赛的目的是检验青少年对机器人技术的理解和掌握程度，激发青少年对机器人技术的兴趣，培养动手和动脑能力。海客拥有一批专业的机器人综合技能教练，科协组织的国家级、省级比赛均斩获大奖，在2018年综合技能项目获得广东省小学组冠军。
                                </p>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a>
                        <div class="radius lf">机器人创意</div>
                        <div class="right">
                            <div class="text">
                                <h1 class="weight f24">机器人创意项目</h1>
                                <p class="f16">
在教育部、电教馆举办的机器人赛事中，都设置了创意机器人相关项目。机器人创意要求学生以小组或个人的方式，自行设计、编程和调试，制作出机器人进行参赛。机器人创意主要考察学生综合运用机器人技术、电子信息技术、工程技术的能力，对激发创新思维潜能，提高综合设计和制作能力。海客拥有一批专业的机器人老师和创意教练，在科协和电教组织的国家级、省级比赛均斩获大奖。
                                </p>
                            </div>
                        </div>
                    </a>
                </li>
                <!-- <li>
                    <a>
                        <div class="radius lf">MakeX</div>
                        <div class="right">
                            <div class="text">
                                <h1 class="weight f24">MakeX</h1>
                                <p class="f16">     
                        MakeX是一个引导青少年成长的机器人赛事平台，旨在通过机器人挑战赛、STEAM嘉年华等活动形式，激发大众对创造、探索、
                        分享的热情。MakeX机器人挑战赛作为MakeX赛事平台的核心活动，希望通过比赛让青少年感悟到创造、协作、快乐、分享的精神理念，并致力于通过高水平的赛事活动推动科技和教育创新，立足于实际运用，以有趣又有挑战性的比赛引导青少年系统学习科学、技术、工程、艺术和数学等多学科知识。
                    
                                    </p>
                            </div>
                        </div>
                    </a>
                </li> -->
            </ul>
        </div>
        <div class="center tuijian_title tuijian_title_line childtx">
                <h1>机器人启蒙课程体系</h1>
                <p class="intr_text">
                    海客智能机器人幼儿课程理念源于STEAM教育，专注于3-6岁幼儿的机器人课程。以“玩中学”、“恰当的任务”、“ 快乐学习”的教学理念致力于培养中国孩子创新思维、创新能力、科学素养等综合实力。
                </p>
            </div>
        <div class="intr_bottom">
            <ul>
                <li>
                    <a class="pic">
                        <img src="__index__/images/p5_03.png" />
                    </a>
                    <div class="con">
                        <div class="center">
                            <span class="weight f24">幼儿园小班课程</span>
                            <div class="weight f16 gray">
                                <p>适合年龄：3~4岁</p>
                                <p>课程内容：管道游戏、神奇的砖</p>
                            </div>
                            <p class="f16 gray">通过不同造型和小球运动的神秘，带给孩子一个奇妙、有趣的游戏性学习氛围，零件安装方便、变化无穷，让孩子在操作的过程充满自主性，独立性和创造性。
                            </p>
                        </div>
                    </div>
                </li>
                <li>
                    <a class="pic">
                        <img src="__index__/images/p5_05.png" />
                    </a>
                    <div class="con">
                        <div class="center">
                            <span class="weight f24">幼儿园中班课程</span>
                            <div class="weight f16 gray">
                                <p>适合年龄：4~5岁</p>
                                <p>课程内容：小小机械师、小小工程师</p>
                            </div>
                            <p class="f16 gray">
                                通过各种工程机械和地面运输工具的构建过程学习，合理结构搭建，了解工程组合，学习安全意识、动手操作、角色扮演，让孩子在学习中充分发挥想象力和创新构建方式，实现提高动手能力的教学目标。
                            </p>
                        </div>
                    </div>
                </li>
                <li>
                    <a class="pic">
                        <img src="__index__/images/p5_07.png" />
                    </a>
                    <div class="con">
                        <div class="center">
                            <span class="weight f24">幼儿园大班课程</span>
                            <div class="weight f16 gray">
                                <p>适合年龄：5~6岁</p>
                                <p>课程内容：科技与生活、机械世界基础</p>
                            </div>
                            <p class="f16 gray">
                                搭建30个含有机械结构的模型，满足孩子对简单机械构造原理尤其是齿轮运动原理的学习需要，提高孩子动手构建、理解结构、趣味创新，科学探索的能力。
                            </p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
     {include file="Common/layer"/}
    {include file="Common/layerbox"/}
    {include file="Common/footer"/}
	<script>
	//课程介绍
var mei = $(".mei").offset().top;
$("#intrtop li:nth-child(1)").click(function(){
    $('html,body').animate({scrollTop: mei}, 1000);
})
var spn = $(".spn").offset().top;
$("#intrtop li:nth-child(2)").click(function(){
    $('html,body').animate({scrollTop: spn}, 1000);
})

var robotjs = $(".robotjs").offset().top;
$("#intrtop li:nth-child(3)").click(function(){
    $('html,body').animate({scrollTop: robotjs}, 1000);
})
var childtx = $(".childtx").offset().top;
$("#intrtop li:nth-child(4)").click(function(){
    $('html,body').animate({scrollTop: childtx}, 1000);
})
    </script>
     <script src="__index__/js/title.js" defer></script>
</body>

</html>