<!DOCTYPE html>
<html lang="en">
{include file="Common/head"/}

<body>
    <script src="__index__/js/isMobile.js"></script>

    {include file="Common/header"/}
    <!-- banner -->
    {include file="Common/commonform"/}
    <div class="swiper-container swiper-container-index">
        <div class="swiper-wrapper" id="swiper-wrapper-index">
            {volist name="banner" id="banner"}
            <div class="indexbanner swiper-slide"><img src="upload/{$banner.image}"/></div>
            {/volist}
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination" id="bannerpagination"></div>
    </div>

    <div class="contentWidth">
        <div class="center tuijian_title">
            <h1>海客智能教育</h1>
            <p>中国领先的青少年机器人培训基地</p>
            <div class="con2">
                <span>中国机器人教育联盟理事单位&nbsp;&nbsp;|&nbsp;&nbsp;
                    广东省机器人协会副会长单位&nbsp;&nbsp;|&nbsp;&nbsp;
                    国家教育信息化产业技术创新战略联盟之一</span>
                <span>全国青少年机器人技术等级考试授权培训点&nbsp;&nbsp;|&nbsp;&nbsp;
                    中国电子协会全国青少年科普创新教育基地</span>
            </div>
        </div>
        <div>
            <ul class="con1 contentWidth">
                <li>
                    <a href="#">
                        <div>
                            <p>来自清华大学课程研发团队</p>
                            <p>喻学习于游戏，玩中学成就大梦想</p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div>
                            <p>自主研发教学硬件</p>
                            <p>打造最适合中国青少年的机器人教育</p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div>
                            <p>一站式加盟服务</p>
                            <p>轻松复制直营校区盈利模式</p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div>
                            <p>中国国家培训网创客教育</p>
                            <p>指导师培训基地</p>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="yuyue">
        <div class="box">
            <h2>
                <p>定制化智能教育</p>
                <p>加入海客看见未来！</p>
            </h2>
            <h3>
                <p>针对不同年龄阶段，学生的身心发展特点，设置不同的课程内容，涵盖机器人课程、</p>
                <p>编程课程和竞赛课程，培养学生成为独具思考能力的未来型人才。</p>
            </h3>
            <button class="butlayer">免费预约试听课</button>
        </div>
    </div>
    <div class="contentWidth">
        <div class="center tuijian_title">
            <h1>系统的学习孩子更受益</h1>
            <p>机器人课程+编程课程，系统的学习更受益</p>
        </div>
        <div class="contentWidth tuijian_con">
            <ul>
                <li>
                    <a href="#" class="pic">
                        <img src="__index__/images/pic1.png" />
                    </a>
                    <div class="con">
                        <div class="title">
                            <span class="weight">MEI机器人课程体系</span>
                            <span>推荐:1年级及以上</span>
                        </div>
                        <div class="sub">
                            <a href="/index/introduce">了解课程详情</a>
                            <a href="javascript:;" class="butlayer">免费预约试听课</a>
                        </div>
                    </div>
                </li>
                <li>
                    <a href="#" class="pic">
                        <img src="__index__/images/pic2.png" />
                    </a>
                    <div class="con">
                        <div class="title">
                            <span class="weight">SPN编程课程体系</span>
                            <span>推荐:2年级及以上</span>
                        </div>
                        <div class="sub">
                            <a href="/index/introduce">了解课程详情</a>
                            <a href="javascript:;" class="butlayer">免费预约试听课</a>
                        </div>
                    </div>
                </li>
                <li>
                    <a href="#" class="pic">
                        <img src="__index__/images/pic3.png" />
                    </a>
                    <div class="con">
                        <div class="title">
                            <span class="weight">机器人竞赛</span>
                            <span>推荐:3年级及以上</span>
                        </div>
                        <div class="sub">
                            <a href="/index/introduce">了解课程详情</a>
                            <a href="javascript:;" class="butlayer">免费预约试听课</a>
                        </div>
                    </div>
                </li>
                <li>
                    <a href="#" class="pic">
                        <img src="__index__/images/pic4.png" />
                    </a>
                    <div class="con">
                        <div class="title">
                            <span class="weight">机器人幼儿课程体系</span>
                            <span>推荐年龄:3-6岁</span>
                        </div>
                        <div class="sub">
                            <a href="/index/introduce">了解课程详情</a>
                            <a href="javascript:;" class="butlayer">免费预约试听课</a>
                        </div>
                    </div>
                </li>
            </ul>
            <a href="javascript:;" class="center lingqu butlayer">免费领取388元试听课</a>
        </div>
    </div>
    <div class="widthimg video-index">
            <video controls>
                <source src="__index__/video/d61f94001a461b23fe181da64816408a.mp4" type="video/mp4">
                您的浏览器不支持 video 标签。
            </video> 
        <img src="__index__/images/con3.webp" class="pic" />
    </div>
    <div class="bgf4">
        <div class="center tuijian_title">
            <h1>专业的教练团队，国际国内赛事任你驰骋</h1>
            <p>为竞赛项目设置独立的部门，根据不同学生制定不同培训方案</p>
        </div>
        <div class="vex">
            <ul>
                <li><a href="/competition/vex">VEX</a></li>
                <li><a href="/competition/wer">WER</a></li>
                <li><a href="/competition/zhjn">综合技能</a></li>
                <li><a href="/competition/cys">机器人创意</a></li>
                <li><a href="/competition/makex">MakeX</a></li>
            </ul>
        </div>
        <div class="contentWidth tuijian_con tuijian_con1 clearfix">
            <ul class="duli">
                <li>
                    <a href="/competition/vex">
                        <div>
                            <img src="__index__/images/pic5.png" class="pic"/>
                        </div>
                        <div class="con">
                            <div class="title">
                                <span class="weight">VEX工程挑战赛</span>
                                <p>VEX是全球规模最大，最受科技类大学认可的机器人比赛，也是中国青少年机器人竞赛中的重要项目。</p>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="/competition/wer">
                        <div >
                            <img src="__index__/images/pic6.png" class="pic"/>
                        </div>
                        <div class="con">
                            <div class="title">
                                <span class="weight">WER工程创新赛</span>
                                <p>WER是一项面向全球4-18岁青少年的教育机器人比赛，每年全球有超过50多个国家的50万名选手参加各级WER选拔赛。</p>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="/competition/zhjn" >
                        <div>
                            <img src="__index__/images/pic7.png" class="pic"/>
                        </div>
                        <div class="con">
                            <div class="title">
                                <span class="weight">机器人综合技能</span>
                                <p>机器人综合技能比赛是中国青少年机器人竞赛项目之一。其活动对象为中小学生，要求参加比赛的代表队在现场自行拼装机器人、编制机器人运行程序、调试和操作机器人。</p>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="/competition/cys">
                        <div><img src="__index__/images/pic8.png" class="pic"/></div>
                        <div class="con">
                            <div class="title">
                                <span class="weight">机器人创意项目</span>
                                <p>机器人创意比赛是基于每年一度的中国青少年机器人竞赛的主题与规则，教育部、电教馆举办的机器人赛事，都设置了创意机器人相关项目。</p>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>


    <div class="contentWidth tuijian_con am-padding-top-xl am-margin-bottom-xs">
           
            <p href="javascript:;" class="center lingqu butlayer">海客获得荣誉</p>

       
        </div>


          
        <div class="widthimg">
                <img src="__index__/images/con6.jpg" class="pic" />
            </div>  

    <div class="widthimg white dazao">
		<div class="box">
            <h1>自主研发教学硬件</h1>
            <h2>打造最适合中国青少年的机器人教育</h2>
            <div class="text">
                海客根据中国学生的身心发展特点，研发了MEI机器人课程体系，并配置专用的教学硬件，打造最适合中国青少年的机器人课程。教具兼容多种编程语言和传感器，让学生能够充分发挥自己的想像力，轻松完成自己的机器人作品。
            </div>
        </div>
        
        <img src="__index__/images/con4-2.jpg" class="pic" />
    </div>
    <!-- 师资实力 -->
    <div class="tuijian_con contentWidth">
        <div class="center tuijian_title tuijian_title_ter">
            <h1>学习机器人课程，选对老师很重要</h1>
            <p>
                <span>
                    <img src="__index__/images/arrow.png" />
                    来自清华大的学教学研发团队
                </span>
                <span><img src="__index__/images/arrow.png" />所有老师100%持证上岗</span>
                <span><img src="__index__/images/arrow.png" />严格的培训和考核</span>
                <span><img src="__index__/images/arrow.png" /> 每周一次教学研究会议</span>
            </p>
        </div>
        <!-- Swiper -->
        <div class="swiper-container swiper-container-ter ter_content_list">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <a href="#" class="list">
                        <div class="head">
                            <div class="pic">
                                <img src="__index__/images/ter-head-1.png" />
                            </div>
                        </div>
                        <div class="body">
                            <h2 class="f22 weight center">喻江</h2>
                            <h3 class="center">海客智能教学总监·清华大学硕士</h3>
                            <p>本科毕业于南京大学软件专业，研究生毕业于清华大学，喻老师专注于STEAM创客教育等相关研究，从事青少年机器人教育多年，有丰富的课程开发经验和教学经验。</p>
                        </div>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="#" class="list">
                        <div class="head">
                            <div class="pic">
                                <img src="__index__/images/ter-head-2.png" />
                            </div>
                        </div>
                        <div class="body">
                            <h2 class="f22 weight center">蔡霖</h2>
                            <h3 class="center">海客金牌讲师·大连理工大学硕士</h3>
                            <p>毕业于大连理工大学机械专业硕士，具有多年的教学经验。蔡老师讲课风格幽默且思路清晰，课堂中也不断贯穿STEAM教育理念，善于和小孩沟通，能够顾及到学生的心里特点和接受能力。</p>
                        </div>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="#" class="list">
                        <div class="head">
                            <div class="pic">
                                <img src="__index__/images/ter-head-3.png" />
                            </div>
                        </div>
                        <div class="body">
                            <h2 class="f22 weight center">程志刚</h2>
                            <h3 class="center">WER机器人竞赛金牌教练</h3>
                            <p>拥有多年的国际大赛国内赛事带队经验，队员荣获2017WER机器人世界锦标赛亚军。包揽2018WER机器人广州市赛冠亚季军。
                            </p>
                        </div>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="#" class="list">
                        <div class="head">
                            <div class="pic">
                                <img src="__index__/images/ter-head-4.png" />
                            </div>
                        </div>
                        <div class="body">
                            <h2 class="f22 weight center">刘梦杰</h2>
                            <h3 class="center">机器人创客指导师</h3>
                            <p>拥有丰富的教学经验，多次带领学员参加各类机器人竞赛，曾带队获得广大省机器人竞赛综合技能项目冠军。教学认真负责，授课时能够一切从实际出发，将技术难点分析透彻，使学员快速入门，学以致用。
                            </p>
                        </div>
                    </a>

                </div>
                <div class="swiper-slide">
                    <a href="#" class="list">
                        <div class="head">
                            <div class="pic">
                                <img src="__index__/images/ter-head-5.png" />
                            </div>
                        </div>
                        <div class="body">
                            <h2 class="f22 weight center">陈丹伟</h2>
                            <h3 class="center">拥有多年的国际大赛国内赛事带队经验</h3>
                            <p>队员荣获VEX锦标赛金奖，VEX亚洲公开赛一等奖，在科协举办的中国青少年机器人大赛中获得广东省赛冠军，并包揽VEX机器人项目广州冠亚季军。
                            </p>
                        </div>
                    </a>

                </div>
            </div>
        </div>
        <div class="swiper-button-ter swiper-button-next swiper-button-black"></div>
        <div class="swiper-button-ter swiper-button-prev swiper-button-black"></div>
        <a href="#" class="center lingqu butlayer">免费领取388元试听课</a>
    </div>
    <div id="certify">
        <div class="center tuijian_title">
            <h1 class="white">看家长怎么说</h1>
            <p class="white">家长的认可是海客不断进步的源泉</p>
        </div>
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide"><img src="__index__/images/w1.png" />
                </div>
                <div class="swiper-slide"><img src="__index__/images/w2.png" />
                </div>
                <div class="swiper-slide"><img src="__index__/images/w3.png" />
                </div>
                <div class="swiper-slide"><img src="__index__/images/w4.png" />
                </div>
                <div class="swiper-slide"><img src="__index__/images/w5.png" />
                </div>
                <div class="swiper-slide"><img src="__index__/images/w6.png" />
                </div>
                <div class="swiper-slide"><img src="__index__/images/w7.png" />
                </div>
                <div class="swiper-slide"><img src="__index__/images/w8.png" />
                </div>
                <div class="swiper-slide"><img src="__index__/images/w9.png" />
                </div>
            </div>
        </div>
        <!-- white -->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    </div>
    <div class="flexcontent">
        <div class="center tuijian_title clearfix">
            <h1>海客活动精彩瞬间</h1>
            <p>打造不同形式的科技体验活动，让更多孩子爱上机器人</p>
        </div>
        <div class="contentWidth flex botton_pic">
            <!-- 左边 -->
            <a href="#" class="flex1">
                <img src="__index__/images/pic9.jpg" />
                <p>粤港澳创客大赛启动会</p>
            </a>
            <!-- 右边 -->
            <div class="flex2 column">
                <!-- 上边 -->
                <div class="flex h27">
                    <a href="#" class="flex2"> <img src="__index__/images/pic10.jpg" />
                        <p>广东实验中学科技体验活动</p>
                    </a>
                    <a href="#" class="flex1"> <img src="__index__/images/pic11.jpg" />
                        <p>中山大学附属中学科技体验活动</p>
                    </a>
                </div>
                <!-- 下边 -->
                <div class="flex h27">
                    <a href="#" class="flex1"> <img src="__index__/images/pic12.jpg" />
                        <p>中国电信科技体验活动</p>
                    </a>
                    <a href="#" class="flex2"> <img src="__index__/images/pic13.jpg" />
                        <p>海客智能科技圣诞节</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="widthimg">
        <div class="center tuijian_title clearfix">
            <h1>品牌合作</h1>
            <p>与各大品牌深度合作，选择海客值得信赖</p>
        </div>
        <div>
            <ul class="fr_logo contentWidth">
                <li>
                    <img src="__index__/images/con5_16.png">
                </li>
                <li>
                    <img src="__index__/images/con5_17.png">
                </li>
                <li>
                    <img src="__index__/images/con5_13.png">
                </li>
                <li>
                    <img src="__index__/images/con5_11.png">
                </li>
                <li>
                    <img src="__index__/images/con5_12.png">
                </li>
            </ul>
			<ul class="fr_logo contentWidth">


                <li>
                    <img src="__index__/images/con5_09.png">
                </li>
                <li>
                    <img src="__index__/images/con5_10.png">
                </li>
                <li>
                    <img src="__index__/images/con5_18.png">
                </li>
                <li>
                    <img src="__index__/images/con5_19.png">
                </li>
                <li>
                    <img src="__index__/images/con5_20.png">
                </li>
            </ul>
        </div>
    </div>
    {include file="Common/layer"/}
    {include file="Common/layerbox"/}
    {include file="Common/footer"/}
</body>

<script src="__index__/js/isMobile.js"></script>
</html>