<!DOCTYPE html>
<html lang="en">
{include file="Common/head"/}

<body>
    {include file="Common/header"/}
    <!-- banner -->
    <div class="swiper-container swiper-container-index">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
            <img src="__index__/images/20190819110904.jpg" alt="">
            </div>
            <div class="swiper-slide"> <img src="__index__/images/20190819110904.jpg" alt=""></div>
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination" id="bannerpagination"></div>
    </div>
    <div class="contentWidth">
        <div class="am-tabs competition_tab" data-am-tabs>
            <ul class="am-nav am-nav-tabs">
                <li><a href="/mobile/competition/vex">VEX</a></li>
                <li><a href="/mobile/competition/wer">WER</a></li>
                <li><a href="/mobile/competition/zhjn">综合技能</a></li>
                <li class="am-active"><a href="/mobile/competition/cys">机器人创意</a></li>
                <li><a href="/mobile/competition/makex">MakeX</a></li>
            </ul>
            <div class="am-tabs-bd am-form-group am-margin-bottom-0">
                <div class="am-tab-panel am-active">
                    <div class="competition_content">
                        <img src="__index__/images/05_030.png" />
                        <div class="am-margin-vertical-xs">
                            随着机器人教育、创客教育市场火爆，教育部、电教馆举办的机器人赛事，都设置了创意机器人相关项目。机器人创意比赛对于培养学生学习与综合运用机器人技术、电子信息技术、工程技术，激发创新思维潜能，提高综合设计和制作的能力，培养学生开展科学研究基本素质极为有益。
                        </div>
                    </div>
                    <div class="pic_w">
                        <img src="__index__/images/in2.png" class="pic">
                    </div>
                    <div class="center tuijian_title">
                        <h1>中国青少年机器人竞赛</h1>
                    </div>
                    <div class="competition_content">
                        <div class="am-margin-vertical-xs">
                            中国青少年机器人竞赛创办于2001年，是中国科协面向全国中小学生开展的一项将知识积累、技能培养、探究性学习融为一体的普及性科技教育活动。机器人创意比赛是基于每年一度的中国青少年机器人竞赛的主题与规则，组织在校中小学生机器人爱好者，花费6个月左右的时间，在课题导师或教练员的指导下，在学校、家庭、校外机器人工作室或科技实验室，以个人或小组的方式，进行机器人的创意、设计、编程与制作，最后提交机器人实体作品参加中国青少年机器人竞赛组委会举办的机器人创意比赛活动。每年，全国共有9000多支队伍、25000多名中小学生参加各省级青少年机器人竞赛选拔赛，获奖的学员在名校自主招生和升学中获得更多优势。
                        </div>
                    </div>
                    <table class="public_table">
                        <thead>
                            <tr>
                                <th class="blue_q">主办单位</th>
                                <th class="blue_q">参赛项目</th>
                                <th class="blue_q">参赛组别</th>
                                <th class="blue_q">参赛人数</th>
                                <th class="blue_q">机器数量</th>
                                <th class="blue_q">器材要求</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td style="width:100px;">
                                    <div>
                                        中国科学技术协会
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        创意机器人
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        小学组、初中组、高中组
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        1-3名学生
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        可提供1件或多件作品
                                    </div>
                                </td>

                                <td>
                                <div> 
                                    参加竞赛的机器人作品，除不得选用污染环境、有害身体健康的器材，原则上不限定器材。鼓励小学组尽量使用可再生环保材料，或课外活动现成器材设计和搭建，力求节省成本，避免比赛成人化倾向。提出中学组参赛作品中适当使用自制器材，且机器人的创意、设计、搭建、编程应由学生亲身实践完成。
                                </div>
                            </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="center tuijian_title am-margin-bottom-xs">
                        <h1>中国青少年机器人竞赛比赛时间轴</h1>
                    </div>
                    <div class="pic_w">
                        <img src="__index__/images/in6.png" class="pic">
                    </div>
                    <div class="pic_w am-margin-top-xs am-padding-horizontal-lg">
                        <img src="__index__/images/05_070.png" class="pic">
                    </div>
                    <div class="center tuijian_title">
                        <h1>全国中小学电脑制作活动</h1>
                    </div>
                    <div class="competition_content">
                        <div class="am-margin-vertical-xs">
                            <p>
                                    为大力推动全国中小学信息技术教育，展示各地中小学生信息技术学习实践成果；为纪念邓小平同志“计算机普及要从娃娃做起”的重要指示发表16周年，在时任教育部常务副部长吕福源同志的亲自倡导和策划下，“全国中小学电脑制作活动”正式拉开帷幕。
                            </p>
                            <p>
                                    全国中小学电脑制作活动创意项目，以现场随机抽签分组的形式，使用现场准备的器材，通过现场出题现场制作的方式展开角逐。获得“全国中小学电脑制作活动”小学组和初中组一、二、三等奖或者在本省组织的电脑制作活动中获得一、二等奖的小学生和初中生，在升入初中或高中时可以免试保送升学或者加分录取升学等鼓励措施。
                            </p>
                        </div>
                        <table class="public_table">
                            <thead>
                                <tr>
                                    <th class="blue_q">主办单位</th>
                                    <th class="blue_q">参赛项目</th>
                                    <th class="blue_q">参赛组别</th>
                                    <th class="blue_q">机器数量</th>
                                    <th class="blue_q">器材要求</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td style="width:100px;">
                                        <div>
                                            教育部
                                        </div>
                                    </td>
                                    <td>
                                        <div>
                                            创客竞赛
                                        </div>
                                    </td>
                                    <td>
                                        <div>
                                            小学组、初中组、高中组
                                        </div>
                                    </td>
                                    <td>
                                        <div>
                                            现场抽签分组，团队的形式制作1件作品。
                                        </div>
                                    </td>
                                    <td>
                                        <div>
                                            官方会在现场准备制作机器人的器件，学员必须使用现场准备得器件制作。
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="center tuijian_title">
                        <h1>全国中小学电脑制作活动比赛时间轴</h1>
                    </div>
                    <div class="pic_w">
                        <img src="__index__/images/in6cys.png">
                    </div>
                    <div class="pic_w am-margin-top-xs am-padding-horizontal-lg">
                        <img src="__index__/images/05_11.png" class="pic">
                    </div>
                    <div class="center tuijian_title">
                        <h1>全国中小学生创·造大赛</h1>
                    </div>

                    <div class="competition_content">
                        <div class="am-margin-vertical-xs">

                            大赛以培养有时代精神、创新能力和家国情怀的全球化时代终生学习者为目标，是一项围绕国家创新驱动发展战略和青少年创新思维养成而设计、以比赛为呈现形式的科学教育实践活动，旨在培养学生综合运用知识的能力、基本工程实践能力、创新意识与创造能力，激发学生从事科学研究与探索的兴趣和潜能，引导学生注重团队协作、动手实践，全面提高学生科学素养。
                        </div>
                    </div>
                    <table class="public_table">
                        <thead>
                            <tr>
                                <th class="blue_q">主办单位</th>
                                <th class="blue_q">参赛项目</th>
                                <th class="blue_q">参赛组别</th>
                                <th class="blue_q">参赛人数</th>
                                <th class="blue_q">器材要求</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td style="width:100px;">
                                    <div>
                                        <p>科技日报社</p>
                                        <p>中国发明协会</p>
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        智慧创客、AI地球
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        小学组、初中组、高中组
                                    </div>
                                </td>
                                <td>
                                    <div>
                                            以团队的形式报名，每队2-4人
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        不限器材
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="center tuijian_title">
                        <h1>全国中小学生创·造大赛比赛时间轴</h1>
                    </div>
                    <div class="pic_w">
                        <img src="__index__/images/in6cys2.png">
                    </div>
                    <div class="center tuijian_title">
                        <h1>全国青少年创意编程与智能设计大赛</h1>
                    </div>
                    <div class="competition_content">
                        <div class="am-margin-vertical-xs">
                            为了深入贯彻落实国务院《新一代人工智能发展规划》的任务要求，向广大青少年普及推广编程与智能设计相关科普知识和技能，提高青少年对人工智能的认知和初步应用能力。智能设计比赛引导学生们针对学习与生活中发现的问题和需求，设计实现能够利用智能手段解决问题或改进现有解决方式的作品。
                            它要求参赛选手使用大赛指定的Arduino系列开发板进行设计和创作。创意编程与智能设计作为大赛的两个子项目赛事，在参赛要求、参赛年龄、奖项设置上各有不同。创意编程比赛注重的是学生们对编程语言的运用能力，该赛事要求选手们使用Scratch编程语言进行作品创作，并将作品上传至网易卡搭编程平台上，附上完整的作品说明文档。

                        </div>
                    </div>
                    <table class="public_table">
                        <thead>
                            <tr>
                                <th class="blue_q">主办单位</th>
                                <th class="blue_q">
                                    参赛项目</th>
                                <th class="blue_q">参赛组别</th>
                                <th class="blue_q">
                                    参赛人数 </th>
                                <th class="blue_q">器材要求</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td style="width:100px;">
                                    <div>
                                        <p>中国科协青少年科技中心</p>
                                        <p>中国青少年科技辅导员协会</p>
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        智能设计、创意编程
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        小学组、初中组、高中组
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        以团队的形式报名，每队1-3人
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        不限器材
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="center tuijian_title am-margin-bottom-xs">
                        <h1>全国青少年创意编程与智能设计大赛比赛时间轴</h1>
                    </div>
                    <div class="pic_w">
                        <img src="__index__/images/05_19.png">
                    </div>
                    <div class="center tuijian_title">
                        <h1>海客机器人创意教练团队</h1>
                    </div>
                    <div class="pic_w">
                            <img src="__index__/images/cys_ter.jpg">
                        </div>
                    <div class="competition_content">
                        <div class="am-margin-top-xs">
                            海客拥有顶级的机器人老师和教练，目前共有专职金牌教练2名，专职教师若干名。在科协和电教组织的国家级、省级比赛均斩获大奖。2019年分别获得获第十九届广东省青少年机器人竞赛
                            创意机器人初中组 冠军、获广东省第二十届中小学电脑制作活动 创客项目初中组 冠军
                        </div>
                    </div>
                    <div class="center tuijian_title am-margin-bottom-xs">
                        <h1>海客创意机器人竞赛部分教学成果</h1>
                    </div>
                    <div class="pic_w am-margin-bottom-xs">
                        <img src="__index__/images/05_22.png" class="pic">
                    </div>



                    <div class="row competition_bottom">
                            <div class="am-u-lg-4 am-u-md-4 am-u-sm-4 am-u-xs-12">
                                <img src="__index__/images/cyimage013.jpg">
                            </div>
                            <div class="am-u-lg-4 am-u-md-4 am-u-sm-4 am-u-xs-12">
                                <img src="__index__/images/cyimage015.jpg">
                            </div>
                            <div class="am-u-lg-4 am-u-md-4 am-u-sm-4 am-u-xs-12">
                                <img src="__index__/images/cyimage017.jpg">
                            </div>
                        </div>

                        <div class="row competition_bottom">
                                <div class="am-u-lg-4 am-u-md-4 am-u-sm-4 am-u-xs-12">
                                    <img src="__index__/images/cyimage019.jpg">
                                </div>
                                <div class="am-u-lg-4 am-u-md-4 am-u-sm-4 am-u-xs-12">
                                    <img src="__index__/images/20190814194917_13.png">
                                </div>
                                <div class="am-u-lg-4 am-u-md-4 am-u-sm-4 am-u-xs-12">
                                    <img src="__index__/images/pic8.png">
                                </div>
                            </div>
                            <div class="row competition_bottom">
                                    <div class="am-u-lg-4 am-u-md-4 am-u-sm-4 am-u-xs-12">
                                        <img src="__index__/images/cyimage023.jpg">
                                    </div>
                                    <div class="am-u-lg-4 am-u-md-4 am-u-sm-4 am-u-xs-12">
                                        <img src="__index__/images/cyimage025.jpg">
                                    </div>
                                    <div class="am-u-lg-4 am-u-md-4 am-u-sm-4 am-u-xs-12">
                                        <img src="__index__/images/cyimage027.jpg">
                                    </div>
                                </div>

                </div>
            </div>
        </div>
    </div>
    {include file="Common/footer"/}
</body>

</html>