<!DOCTYPE html>
<html lang="en">
{include file="Common/head"/}

<body>
    {include file="Common/header"/}
    <!-- banner -->
    <div class="swiper-container swiper-container-index">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
            <img src="__index__/images/20190819110904.jpg" alt="">
            </div>
            <div class="swiper-slide"> <img src="__index__/images/20190819110904.jpg" alt=""></div>
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination" id="bannerpagination"></div>
    </div>
    
    <div class="contentWidth">
        <div class="center tuijian_title">
            <h1>机器人竞赛项目介绍</h1>
        </div>
        <div class="competition_list">
            <ul>
                <li>
                    <a href="/mobile/competition/vex">
                        <div class="leftmodel">
                            <div><img src="__index__/images/page4_03.png" alt=""></div>
                            <div class="text">
                                <h1>VEX工程挑战赛</h1>
                                <div>
                                    VEX是全球规模最大，最受科技类大学认可的机器人比赛，也是中国青少年机器人竞赛中的重要项目。VEX要求参赛的队员自行设计、制作、编程并调试机器人，比赛不仅考察机器人的结构和传动的设计，更重要的是对机器的操控、比赛的策略及应变能力。比赛分手动赛和自动赛两部分，进行15秒的自动赛后，队员通过遥控器控制在特定的竞赛场地上，按照规则要求进行的比赛活动。VEX互动性强且具有激烈的对抗性，比赛过程也比较惊险刺激，是创意设计和对抗性比赛的最佳结合。
                                </div>
                            </div>
                        </div>
                        <div class="rightimg">
                            <img src="__index__/images/page4_06.png" alt="">
                        </div>
                        <div class="icon">
                            <img src="__index__/images/page4_22.png" alt="">
                        </div>
                    </a>
                </li>
                <li>
                    <a href="/mobile/competition/wer">
                        <div class="leftmodel">
                            <div><img src="__index__/images/page4_10.png" alt=""></div>
                            <div class="text">
                                <h1>WER世界教育机器人大赛</h1>
                                <div>
                                        WER是一项面向全球4-18岁青少年的教育机器人比赛，每年全球有超过50多个国家的50万名选手参加各级WER选拔赛。WER工程挑战赛由“预设项目任务”+“现场项目任务”组成，现场裁判公布比赛场地后，学生要需要进行2小时的机器调试，最后通过任务的完成情况给予打分，按照分数的高低决出胜负。WER极度的考验学员的机械结构的设计和编程的调试能力，是目前为止对编程要求最高的青少年机器人竞赛。
                                </div>
                            </div>
                        </div>
                        <div class="rightimg">
                            <img src="__index__/images/page4_11.png" alt="">
                        </div>
                        <div class="icon">
                            <img src="__index__/images/page4_22.png" alt="">
                        </div>
                    </a>
                </li>
                <li>
                    <a href="/mobile/competition/zhjn">
                        <div class="leftmodel">
                            <div><img src="__index__/images/page4_14.png" alt=""></div>
                            <div class="text">
                                <h1>机器人综合技能</h1>
                                <div>
                                    机器人综合技能比赛是中国青少年机器人竞赛项目之一,其活动对象为中小学生。在一块固定的场地上设置数个不同难度的任务,要求比赛的代表队在现场自行拼装机器人、编制机器人运行程序、调试和操作机器人。在中国青少年机器人竞赛中设置机器人综合技能比赛的目的是检验青少年对机器人技术的理解和掌握程度,激发我国青少年对机器人技术的兴趣,培养动手、动脑的能力。   
                                </div>
                            </div>
                        </div>
                        <div class="rightimg">

                        </div>
                        <div class="icon">
                            <img src="__index__/images/page4_22.png" alt="">
                        </div>
                    </a>
                </li>
                <li>
                    <a href="/mobile/competition/cys">
                        <div class="leftmodel">
                            <div><img src="__index__/images/page4_16.png" alt=""></div>
                            <div class="text">
                                <h1>机器人创意项目</h1>
                                <div>
                                    随着机器人教育、创客教育市场火爆，教育部、电教馆举办的机器人赛事，都设置了创意机器人相关项目。机器人创意比赛对于培养学生学习与综合运用机器人技术、电子信息技术、工程技术，激发创新思维潜能，提高综合设计和制作的能力，培养学生开展科学研究基本素质极为有益。
                                </div>
                            </div>
                        </div>
                        <div class="rightimg">
                        </div>
                        <div class="icon">
                            <img src="__index__/images/page4_22.png" alt="">
                        </div>
                    </a>
                </li>
                <li>
                    <a href="/mobile/competition/makex">
                        <div class="leftmodel">
                            <div><img src="__index__/images/page4_20.png" alt=""></div>
                            <div class="text">
                                <h1>MakeX</h1>
                                <div>
                                    MakeX是一个引导青少年成长的机器人赛事平台，旨在通过机器人挑战赛、STEAM嘉年华等活动形式，激发大众对创造、探索、分享的热情。MakeX机器人挑战赛作为MakeX赛事平台的核心活动，希望通过比赛让青少年感悟到创造、协作、快乐、分享的精神理念，并致力于通过高水平的赛事活动推动科技和教育创新，立足于实际运用，以有趣又有挑战性的比赛引导青少年系统学习科学、技术、工程、艺术和数学等多学科知识。
                                </div>
                            </div>
                        </div>
                        <div class="rightimg">
                            <img src="__index__/images/page4_19.png" alt="">
                        </div>
                        <div class="icon">
                            <img src="__index__/images/page4_22.png" alt="">
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    {include file="Common/footer"/}
</body>

</html>