<!DOCTYPE html>
<html lang="en">
{include file="Common/head"/}

<body>
    {include file="Common/header"/}
    <!-- banner -->
    <div class="swiper-container swiper-container-index">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
            <img src="__index__/images/20190819110904.jpg" alt="">
            </div>
            <div class="swiper-slide"> <img src="__index__/images/20190819110904.jpg" alt=""></div>
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination" id="bannerpagination"></div>
    </div>
    <div class="contentWidth">
        <div class="center tuijian_title">
            <h1>机器竞赛项目介绍</h1>
        </div>
        <div class="am-tabs competition_tab" data-am-tabs>
            <ul class="am-nav am-nav-tabs">
                <li class="am-active"><a href="/mobile/competition/vex">VEX</a></li>
                <li><a href="/mobile/competition/wer">WER</a></li>
                <li><a href="/mobile/competition/zhjn">综合技能</a></li>
                <li><a href="/mobile/competition/cys">机器人创意</a></li>
                <li><a href="/mobile/competition/makex">MakeX</a></li>
            </ul>
            <div class="am-tabs-bd am-form-group am-margin-bottom-0">
                <div class="am-tab-panel am-active">
                    <div class="center tuijian_title am-margin-bottom-xs">
                        <h1>VEX工程挑战赛</h1>
                    </div>
                    <div class="competition_content am-margin-bottom-xs">
                        <div class="clearfix center">
                            <a href="https://www.bilibili.com/video/av52344397?from=search&amp;seid=15152024664058006978" target="_blank">
                                <img src=" __index__/images/vex1.jpg">
                                <p class="am-margin-top-xs">点击图片可查看视频介绍</p>
                            </a>
                        </div>
                        <div class="am-margin-vertical-xs">
                            VEX是全球规模最大，最受科技类大学认可的机器人比赛，也是中国青少年机器人竞赛中的重要项目。VEX要求参赛的队员自行设计、制作、编程并调试机器人，比赛不仅考察机器人的结构和传动的设计，更重要的是对机器的操控、比赛的策略及应变能力。比赛分手动赛和自动赛两部分，进行15秒的自动赛后，队员通过遥控器控制在特定的竞赛场地上，按照规则要求进行的比赛活动。VEX互动性强且具有激烈的对抗性，比赛过程也比较惊险刺激，是创意设计和对抗性比赛的最佳结合。
                        </div>
                    </div>
                    <div class="center tuijian_title am-margin-bottom-xs title-img">
                        <div class="competition_content am-margin-horizontal-lg am-margin-bottom-xs">
                            <img src="__index__/images/vex2.jpg" />
                        </div>
                        <h1>VEX世界锦标赛（国际赛路线）</h1>
                    </div>
                    <div class="competition_content am-margin-bottom-xs">
                        <div class="am-margin-vertical-xs">
                        VEX世界锦标赛是全球规模最大，最受科技类大学认可的机器人比赛。截止目前，全美293所大学，为VEX比赛获奖选手提供奖学金，常青藤名校更会对获奖选手提供特别加分。小学、初中、高中都可以参加VEX机器人比赛，获奖选手都将成为世界各地各大名校的宠儿，大学也可以继续参加VEX机器人比赛，很多毕业生都会进入Google等科技公司就业。
                        </div>
                    </div>
                    <table class="public_table">
                        <thead>
                            <tr>
                                <th class="blue">主办单位</th>
                                <th class="blue">参赛组别</th>
                                <th class="blue">参赛项目</th>
                                <th class="blue">参赛人数</th>
                                <th class="blue">机器数量</th>
                                <th class="blue">器材要求</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td style="width:100px;">
                                    <div>
                                        加利福尼亚州立大学（California State University）卡耐基梅隆大学（CMU）等
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        初中组、高中组、大学组
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        VEX-EDR、VEX-IQ
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        每队4名学生
                                    </div>
                                </td>
                                <td>
                                    <div>
                                            每只队伍1台机器
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        器材机器人必须使用VEX机器人设计系统的主控制器、接收器、VEX手动控制器及配套的VEX器材。供设计和构建机器人所用的电气件和结构部件必须来自组委会认可的正规渠道。
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="center tuijian_title am-margin-bottom-xs">
                        <h1>世界赛路线比赛时间轴</h1>
                    </div>
                    <table class="public_table">
                        <thead>
                            <tr>
                                <th class="blue">比赛</th>
                                <th class="blue">时间</th>
                                <th class="blue">晋级</th>
                            </tr>
                        </thead>
                        <tbody class="center">
                            <tr>
                                <td style="width:100px;">
                                    <div>
                                        粤港澳大湾区机器人公开赛
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        6月
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        亚洲青少年机器人锦标赛活动
                                    </div>
                                    <div>
                                        亚洲机器人锦标赛
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td style="width:100px;">
                                    <div>
                                        世界机器人大赛总决赛
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        7月
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        亚洲青少年机器人锦标赛活动
                                    </div>
                                    <div>
                                        亚洲机器人锦标赛
                                    </div>
                                    <div>
                                        VEX机器人世锦赛
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td style="width:100px;">
                                    <div>
                                        亚洲机器人锦标赛
                                    </div>
                                    <div>
                                        中国区选拔赛南大区赛
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        8月
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        亚洲青少年机器人锦标赛活动
                                    </div>
                                    <div>
                                        亚洲机器人锦标赛
                                    </div>
                                    <div>
                                        VEX机器人世锦赛
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td style="width:100px;">
                                    <div>
                                        中国青少年机器人竞赛暨
                                    </div>
                                    <div>
                                        世界青少年机器人邀请赛
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        8月
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        VEX机器人世锦赛
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td style="width:100px;">
                                    <div>
                                        世界机器人大赛冠军挑战赛
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        8月
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        亚洲青少年机器人锦标赛活动
                                    </div>
                                    <div>
                                        亚洲机器人锦标赛
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td style="width:100px;">
                                    <div>
                                        亚洲青少年机器人锦标赛活动
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        10月
                                    </div>
                                </td>
                                <td>
                                    <div>

                                        亚洲机器人锦标赛
                                    </div>
                                    <div>

                                        VEX机器人世锦赛
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td style="width:100px;">
                                    <div>
                                        亚洲机器人锦标赛
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        12月
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        VEX机器人世锦赛
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td style="width:100px;">
                                    <div>
                                        VEX机器人世锦赛
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        4月
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        VEX机器人世锦赛
                                    </div>
                                </td>
                            </tr>

                        </tbody>
                    </table>

                    <div class="pic_w am-margin-top-xs">
                        <img src="__index__/images/in2.png" class="pic">
                    </div>
                    <div class="center tuijian_title am-margin-bottom-xs">
                        <h1>中国青少年机器人竞赛（国家赛路线）</h1>
                    </div>

                    <div class="competition_content am-margin-bottom-xs">
                        <div class="am-margin-vertical-xs">
                            中国青少年机器人竞赛创办于2001年，是中国科协面向全国中小学生开展的一项将知识积累、技能培养、探究性学习融为一体的普及性科技教育活动。竞赛为广大青少年机器人爱好者在电子信息、自动控制以及机器人高新科技领域进行学习、探索、研究、实践搭建成果展示和竞技交流的平台，旨在通过富有挑战性的比赛项目，将学生在课程中的多学科知识和技能融入竞赛过程中，激发学生对工程技术的学习兴趣，培养学生的创新意识、动手实践能力和团队精神，提高科学素质。经过十多年发展，中国青少年机器人竞赛在普及机器人工程技术知识，推动机器人教育活动开展等方面发挥了积极作用，已成为国内面向青少年机器人爱好者所举办的规模最大、管理规范、认可度高、影响广泛的竞赛活动。每年，全国共有9000多支队伍、25000多名中小学生参加各省级青少年机器人竞赛选拔赛，获奖的学员在名校自主招生和升学中获得更多优势。
                        </div>
                    </div>
                    <table class="public_table">
                        <thead>
                            <tr>
                                <th class="blue_q">主办单位</th>
                                <th class="blue_q">参赛组别</th>
                                <th class="blue_q">参赛项目</th>
                                <th class="blue_q">参赛人数</th>
                                <th class="blue_q">机器数量</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td style="width:100px;">
                                    <div>
                                        中国科学技术协会
                                    </div>
                                </td>
                                <td>
                                    <div>小学组、初中组、高中组</div>
                                </td>
                                <td>
                                    <div>
                                        VEX-EDR
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        每只队伍需2台机器参赛
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        器材机器人必须使用VEX机器人设计系统的主控制器、接收器、VEX手动控制器及配套的VEX器材。供设计和构建机器人所用的电气件和结构部件必须来自组委会认可的正规渠道。
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="center tuijian_title am-margin-bottom-xs">
                        <h1>国内赛路线比赛时间轴</h1>
                    </div>
                    <div class="pic_w am-margin-top-xs">
                        <img src="__index__/images/in3.png" class="pic">
                    </div>
                    <div class="center tuijian_title am-margin-bottom-xs">
                        <h1>海客VEX竞赛教练团队</h1>
                    </div>
                    <div class="competition_content">
                        <div class="am-margin-vertical-xs">
                            海客VEX机器人竞赛教练团队现由6名专职教练组成，在VEX官方赛事、科和电教馆组织的官方赛事均斩获大奖。学员获得2019年世界机器人大会总决赛VEX工程挑战赛全能奖、2019亚洲机器人锦标赛中国南大区选拔赛初中组冠军、十九届中国青少年机器人竞赛小学、高中组二等奖、连续多年获得该项目广东省冠军。
                        </div>
                    </div>

                    <div class="center tuijian_title">
                        <h1>海客VEX机器人竞赛部分教学成果</h1>
                    </div>
                    <div class="pic_w am-margin-top-xs">
                        <img src="__index__/images/in5.png" class="pic">
                    </div>
                    <div class="row competition_bottom">
                        <div class="am-u-lg-4 am-u-md-4 am-u-sm-4 am-u-xs-12">
                            <img src="__index__/images/vex3.png" />
                        </div>
                        <div class="am-u-lg-4 am-u-md-4 am-u-sm-4 am-u-xs-12">
                            <img src="__index__/images/vex9.jpg" />
                        </div>
                        <div class="am-u-lg-4 am-u-md-4 am-u-sm-4 am-u-xs-12">
                            <img src="__index__/images/vex5.jpg" />
                        </div>
                    </div>
                    <div class="row competition_bottom">
                            <div class="am-u-lg-4 am-u-md-4 am-u-sm-4 am-u-xs-12">
                                <img src="__index__/images/image011.jpg" />
                            </div>
                            <div class="am-u-lg-4 am-u-md-4 am-u-sm-4 am-u-xs-12">
                                <img src="__index__/images/image015.jpg" />
                            </div>
                            <div class="am-u-lg-4 am-u-md-4 am-u-sm-4 am-u-xs-12">
                                <img src="__index__/images/image019.jpg" />
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
    {include file="Common/footer"/}
</body>

</html>