<!DOCTYPE html>
<html lang="en">
{include file="Common/head"/}

<body>
    {include file="Common/header"/}
<!-- banner -->
<div class="swiper-container swiper-container-index">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
        <img src="__index__/images/20190819110904.jpg" alt="">
        </div>
        <div class="swiper-slide"> <img src="__index__/images/20190819110904.jpg" alt=""></div>
    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination" id="bannerpagination"></div>
</div>
    <div class="contentWidth">
        <div class="am-tabs competition_tab" data-am-tabs>
            <ul class="am-nav am-nav-tabs">
                <li><a href="/mobile/competition/vex">VEX</a></li>
                <li class="am-active"><a href="/mobile/competition/wer">WER</a></li>
                <li><a href="/mobile/competition/zhjn">综合技能</a></li>
                <li><a href="/mobile/competition/cys">机器人创意</a></li>
                <li><a href="/mobile/competition/makex">MakeX</a></li>
            </ul>
            <div class="am-tabs-bd am-form-group am-margin-bottom-0">
                <div class="am-tab-panel am-active">
                    <div class="center tuijian_title">
                        <h1>WER项目简介</h1>
                    </div>
                    <div class="competition_content">
                        <div class="clearfix center">
                                <a href="https://www.bilibili.com/video/av51727310?from=search&amp;seid=7496491068099579359" target="_blank">
                                    <img src="__index__/images/in1.jpg">
                                    <p class="am-margin-top-xs">点击图片可查看视频介绍</p>
                                </a>
                            </div>
                        <div class="am-margin-top-xs">
                            WER是一项面向全球3-6岁青少年的教育机器人比赛，每年全球有超过50多个国家的50万名选手参加各级WER选拔赛。WER工程挑战赛由“预设项目任务”+“现场项目任务”组成，现场裁判公布比赛场地后，学生要需要进行2小时的机器调试，最后通过任务的完成情况给予打分，按照分数的高低决出胜负。WER极度的考验学员的机械结构的设计和编程的调试能力，是目前为止对编程要求最高的青少年机器人竞赛。
                        </div>
                    </div>
                    <div class="center tuijian_title">
                        <h1>WER世界锦标赛（国际赛路线）</h1>
                    </div>
                    <div class="competition_content am-margin-bottom-xs">
                        <div>
                            WER是一项面向全球4-18岁青少年的教育机器人比赛，每年全球有超过50多个国家的50万名选手参加各级WER选拔赛。WER世界锦标赛的获胜者将为自己、学校和国家带来荣誉，获得每年不断提升的奖学金，甚至被大学直接录取或作为录取的重要依据。海客智能WER项目在国际官方赛事中多次斩获大奖，2017年在WER世界锦标赛中获得亚军的好成绩。
                        </div>
                    </div>
                    <table class="public_table">
                        <thead>
                            <tr>
                                <th class="blue">主办单位</th>
                                <th class="blue">参赛组别</th>
                                <th class="blue">参赛人数</th>
                                <th class="blue">机器数量</th>
                                <th class="blue">器材要求</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td style="width:100px;">
                                    <div>
                                        世界教育机器人学会
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        小学组、初中组、高中组
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        每队2名学生
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        每只队伍需2台机器参赛
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        设计和构建机器人所用的电气件和结构部件必须来自组委会认可的正规渠道。
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="center tuijian_title">
                        <h1>世界赛路线比赛时间轴</h1>
                    </div>
                    <div class="pic_w">
                        <img src="__index__/images/in8.png" class="pic">
                    </div>
                    <div class="pic_w am-margin-top-xs">
                        <img src="__index__/images/in2.png" class="pic">
                    </div>
                    <div class="center tuijian_title am-margin-bottom-xs">
                        <h1>中国青少年机器人竞赛（国家赛路线）</h1>
                    </div>
                    <div class="competition_content">
                        <div class="am-margin-bottom-xs">
                            中国青少年机器人竞赛创办于2001年，是中国科协面向全国中小学生开展的一项将知识积累、技能培养、探究性学习融为一体的普及性科技教育活动。竞赛为广大青少年机器人爱好者在电子信息、自动控制以及机器人高新科技领域进行学习、探索、研究、实践搭建成果展示和竞技交流的平台，旨在通过富有挑战性的比赛项目，将学生在课程中的多学科知识和技能融入竞赛过程中，激发学生对工程技术的学习兴趣，培养学生的创新意识、动手实践能力和团队精神，提高科学素质。经过十多年发展，中国青少年机器人竞赛在普及机器人工程技术知识，推动机器人教育活动开展等方面发挥了积极作用，已成为国内面向青少年机器人爱好者所举办的规模最大、管理规范、认可度高、影响广泛的竞赛活动。每年，全国共有9000多支队伍、25000多名中小学生参加各省级青少年机器人竞赛选拔赛，获奖的学员在名校自主招生和升学中获得更多优势。
                        </div>
                    </div>
                    <table class="public_table">
                        <thead>
                            <tr>
                                <th class="blue_q">主办单位</th>
                                <th class="blue_q">参赛组别</th>
                                <th class="blue_q">参赛人数</th>
                                <th class="blue_q">机器数量</th>
                                <th class="blue_q">器材要求</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td style="width:100px;">
                                    <div>
                                        中国科学技术协会
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        小学组、初中组、高中组
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        每队2名学生
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        每只队伍需2台机器参赛
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        设计和构建机器人所用的电气件和结构部件必须来自组委会认可的正规渠道。
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="center tuijian_title">
                        <h1>国内赛路线比赛时间轴</h1>
                    </div>
                    <div class="pic_w">
                        <img src="__index__/images/in9.png" class="pic">
                    </div>
                    <div class="center tuijian_title">
                        <h1>海客WER竞赛教练团队</h1>
                    </div>

                    <div class="competition_content">
                        <div>
                            海客WER竞赛教练团队目前共有金牌讲师4人，在WER官方赛事、科协和电教馆组织的国家级、省级比赛均斩获大奖。2017年获得WER世界锦标赛亚军，这可是这一赛事最高规格的比赛。
                        </div>
                    </div>
                    <div class="center tuijian_title">
                            <h1>海客WER机器人竞赛部分教学成果</h1>
                        </div>
                    <div class="pic_w">
                        <img src="__index__/images/in4.png" class="pic">
                    </div>
                    <div class="row competition_bottom">
                        <div class="am-u-lg-4 am-u-md-4 am-u-sm-4 am-u-xs-12">
                            <img src="__index__/images/wer2.jpg" />
                        </div>
                        <div class="am-u-lg-4 am-u-md-4 am-u-sm-4 am-u-xs-12">
                            <img src="__index__/images/wer1.jpg" />
                        </div>
                        <div class="am-u-lg-4 am-u-md-4 am-u-sm-4 am-u-xs-12">
                            <img src="__index__/images/wer5.jpg" />
                        </div>
                    </div>

                    <div class="row competition_bottom">
                            <div class="am-u-lg-4 am-u-md-4 am-u-sm-4 am-u-xs-12">
                                <img src="__index__/images/werimage013.jpg" />
                            </div>
                            <div class="am-u-lg-4 am-u-md-4 am-u-sm-4 am-u-xs-12">
                                <img src="__index__/images/werimage015.jpg" />
                            </div>
                            <div class="am-u-lg-4 am-u-md-4 am-u-sm-4 am-u-xs-12">
                                <img src="__index__/images/wer6.jpg" />
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
    {include file="Common/footer"/}
</body>

</html>