<!-- footer -->
<div class="center bottomtext">
    <p>创业有风险&nbsp;&nbsp;&nbsp;投资需谨慎</p>
    <p>广东海泓科技有限公司版权所有</p>
</div>
<div class="footer white">
    <div class="copy">
        <div class="contentWidth center">
            <ul>
                <li><a href="/mobile/introduce">课程介绍</a>|</li>
                <li><a href="/mobile/competition">机器人竞赛</a>|</li>
                <li><a href="/mobile/joinin">招商加盟</a>|</li>
                <li><a href="/mobile/achievements">教学成果</a>|</li>
                <li><a href="/mobile/about">关于我们</a></li>
            </ul>
            <a href="https://beian.miit.gov.cn">粤ICP备15027021号</a>
            
        </div>
    </div>
</div>
{include file="Common/layerbox"/}
<script>
(function() {var _53code = document.createElement("script");_53code.src = "https://tb.53kf.com/code/code/0551b9cd96157683e59dee0287e02be62/1";var s = document.getElementsByTagName("script")[0]; s.parentNode.insertBefore(_53code, s);})();
</script>
<script src="__admin__/js/jquery.min.js"></script>
<script src="__index__/js/swiper.min.js" defer></script>
<script src="__layer__/layer.js" defer></script>
<script src="__index__/js/public.js" defer></script>
<script src="__admin__/js/amazeui.min.js" defer></script>
<script>
    $(".lbut").click(function () {
        var c_phone = $('.layerbox input[name="c_phone"]').val();
        var c_name = $('.layerbox input[name="c_name"]').val();
        var c_age = $('.layerbox input[name="c_age"]').val();
        $.ajax({
            type: "POST",
            data: { c_age: c_age, c_name: c_name, c_phone: c_phone },
            url: "{:url('/index/index')}",
            success: function (data) {

                layer.msg("<span>" + data.msg + "</span>");
                if (data.msg == '感谢您的支持！') {
                    $(".layerbox").hide();
                }
            }
        });
        return false;
    })

    $(".close").click(function () {
        $(".layerbox").hide();
    })
    $(".butlayer").click(function () {
        $(".layerbox").show();
    })
    // -------------------导航部分-------------------
    $.ajax({
        url: "__index__/js/navjsonM.json",
        type: "POST",
        data: "",
        async: false,
        dataType: "json",
        success: function (data) {
            var data = data.nav;
            var html = "";
            $.each(data, function (i) {
                html += '<li><a href="' + data[i].href + '">' + data[i].title + '</a></li>';
            });
            $('#navtextul').html(html);
			 href();
        }
    });

</script>