<div class="contentWidth clearfix bgf">
    <div class="pic_w">
        <img src="__index__/images/20190829091317.png" class="pic" />
    </div>
    <div class="am-u-lg-8 am-padding-top am-u-md-8 am-u-sm-12 am-u-xs-12 am-padding-0">
        <form method="post" class="am-form am-form-about am-form-jo am-form-jo1" action="">

            <input type="hidden" name="user_email" value="liaohaiyan@haihong108.onaliyun.com" />
            <input type="hidden" name="user_email2" value="liumengjie@haihong108.onaliyun.com" />
            <input type="hidden" name="user_email3" value="moyongyi@haihong108.onaliyun.com" />
            <input type="hidden" name="user_email4" value="chensaihu@haihong108.onaliyun.com" />
            <input type="hidden" name="user_email5" value="kuangwenjun@haihong108.onaliyun.com" />
            <input type="hidden" name="user_email6" value="chensaihu@haihong108.onaliyun.com" />
            <img src="__index__/images/atitle1.png" class="img" />

            <fieldset>
                <div class="am-u-lg-6 am-u-md-6 am-u-sm-12 am-u-xs-12 am-padding-0 am-margin-bottom-xs">
                    <div class="am-u-lg-4 am-u-md-4 am-u-sm-2 am-u-xs-2 am-padding-0 am-text-right">
                        <label><em class="am-text-danger">*</em>姓名：</label>
                    </div>
                    <div class="am-u-lg-8 am-u-md-8 am-u-sm-10 am-u-xs-10 am-padding-left-xs">
                        <input type="text" placeholder="姓名" name="jo_name" />
                    </div>
                </div>
                <div class="am-u-lg-6 am-u-md-6 am-u-sm-12 am-u-xs-12 am-padding-0 am-margin-bottom-xs">
                    <div class="am-u-lg-4 am-u-md-4 am-u-sm-2 am-u-xs-2 am-padding-0 am-text-right">
                        <label><em class="am-text-danger">*</em>电话：</label>
                    </div>
                    <div class="am-u-lg-8 am-u-md-8 am-u-sm-10 am-u-xs-10 am-padding-left-xs">
                        <input type="text" placeholder="手机号码" name="jo_phone" />
                    </div>
                </div>
                <div class="am-u-lg-6 am-u-md-6 am-u-sm-12 am-u-xs-12 am-padding-0 am-margin-bottom-xs">
                    <div class="am-u-lg-4 am-u-md-4 am-u-sm-2 am-u-xs-2 am-padding-0 am-text-right">
                        <label><em class="am-text-danger">*</em>地址：</label>
                    </div>
                    <div class="am-u-lg-8 am-u-md-8 am-u-sm-10 am-u-xs-10 am-padding-left-xs">
                        <div data-toggle="distpicker" class="joininsel">
                            <div class="form-group">
                                <select class="form-control" id="province1" name="jo_pro"></select>
                            </div>
                            <div>
                                <select class="form-control" id="city1" name="jo_city"></select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="am-u-lg-12 am-u-md-12 am-u-sm-12 am-u-xs-12 am-margin-top-xs">
                    <button class="am-btn am-btn-default weight" id="joinin">立即提交</button>
                </div>
            </fieldset>
        </form>
    </div>
</div>