
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0,/">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="referrer" content="never">
    <title>海客智能机器人|编程培训班加盟|机器人教育加盟|机器人编程加盟</title>
    <meta name="keywords" content="海客智能机器人,编程培训班加盟,机器人编程加盟,机器人教育加盟,机器人加盟,海客智能机器人教育,机器人加盟,编程加盟">
    <meta name="description" content="海客智能机器人致力于提升3-18岁青少年科技创新能力教育,经过5年成熟运营经验,现诚邀编程培训班加盟,机器人编程加盟。">
    <link rel="icon" type="image/png" href="__admin__/i/favicon.png">
    <link rel="stylesheet" href="__admin__/css/amazeui.min.css" />
    <link rel="stylesheet" href="__index__/css/swiper.css">
    <link rel="stylesheet" href="__index__/css/reset.css">
    <link rel="stylesheet" href="__index__/css/styleMobile.css">
    <script>
var _hmt = _hmt || []; (function() { var hm = document.createElement("script"); hm.src = "https://hm.baidu.com/hm.js?73556cefc0b8227237fbc6f82c60e469"; var s = document.getElementsByTagName("script")[0]; s.parentNode.insertBefore(hm, s); })(); </script> 
<script type="text/javascript" charset="utf-8" async src="http://lxbjs.baidu.com/lxb.js?sid=13868600"></script>
    <script src="__index__/js/remM.js"></script>
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?d11370b6bb078c140fe9cfb54954c30c";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>


</head>