<!DOCTYPE html>
<html lang="en">
{include file="Common/head"/}

<body>
    {include file="Common/header"/}
    <!-- banner -->
    <div class="swiper-container swiper-container-index">
       <div class="swiper-wrapper">
            <div class="pagebanner swiper-slide" style="height:auto">
                <img src="__index__/images/20190819173710.jpg"/>
            </div>
            <div class="pagebanner swiper-slide" style="height:auto">
                <img src="__index__/images/20190819173710.jpg"/>
            </div>
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination" id="bannerpagination"></div>
    </div>
    <div class="joininbox">
            <div class="pic_w joininlay">
                <img src="__index__/images/20190830155303.jpg" class="pic" />
            </div>
        <div class="bgf am-margin-top-xs clearfix joinintitlebox">
            <div class="weight joinintitle">
                <div class="txt">行业前景</div>
                <div class="e">
                    Industry Prospects
                </div>
            </div>
        </div>
        <div class="pic_w">
            <img src="__index__/images/20190814091511_02.png" class="pic" />
            <img src="__index__/images/20190814091511_04.png" class="pic am-margin-top-xs" />
        </div>

        <div class="clearfix bgf row">
            <div class="bgf am-margin-top-xs clearfix joinintitlebox">
                <div class="weight joinintitle am-margin-bottom-0">
                    <div class="txt">公司简介</div>
                    <div class="e">
                        Introduction
                    </div>
                </div>
            </div>
            <div class="am-u-xs-12 text">
                <span
                    class="weight">海客智能机器人</span>是海泓科技旗下的人工智能教育培训品牌，覆盖从幼儿园到小学初中高中阶段的青少年机器人培训课程，致力于为3-18岁青少年儿童提供机器人智能培训解决方案。
                <span
                    class="weight">海泓科技有限公司</span>成立于2015年3月，注册资金人民币1000万元。是一家集“机器人教育培训”“机器人课程研发”“机器人教具研发”“机器人教师培训”为一体的综合性科技公司。
            </div>
            <div class="am-u-xs-12 text">
                <span
                    class="weight">海客机器人</span>通过培养孩子对机器人各部件的组装、搭建、设计、创意、编程、实验、比赛等系列的活动课程，提升孩子的实操动手能力、空间想象能力、外在审美能力，掌握物理数学知识的运用；培养及训练孩子的逻辑思维推理能力、团队沟通协作能力，让孩子拥有分析问题和解决问题的能力，培养成为具有独立思考能力和创造力的未来型人才。
            </div>
            <div class="pic_w">
                <img src="__index__/images/20190814091511_06.png" />
            </div>
            <div class="clearfix" style="padding:.5rem .3rem">
                <div style="width:65%" class="am-fl">
                    <img src="__index__/images/39_07.png" style="width:100%" />
                </div>
                <div style="width:32%;font-size:.16rem;line-height: .28rem;text-align: justify;text-indent: 2em"
                    class="am-fr gray">
                    海客根据中国学生的身心发展特点，研发了MEI机器人课程体系，并配置专用的教学硬件，打造最适合中国青少年的机器人课程。教具兼容多种编程语言和传感器，让学生能够充分发挥自己的想像力，轻松完成自己的机器人作品。
                </div>
            </div>
        </div>
        <div class="clearfix">
            <div class="center tuijian_title am-padding-bottom-xl">
                <h1>海客获得荣誉</h1>
            </div>
            <div class="row wenhuay wenhuays">
                <div class="row clearfix">
                    <div class="am-u-xs-6 weight">
                        <div class="pic">
                            <img src="__index__/images/20190814194917_03.png" />
                        </div>
                        <div>
                            <div class="center gray">
                                <p>2019世界机器人大赛总决赛VEX工程挑战赛</p>
                                <p>全能奖</p>
                            </div>
                        </div>
                    </div>

                    <div class="am-u-xs-6 weight">
                        <div class="pic">
                            <img src="__index__/images/pic3.png" />
                        </div>
                        <div>
                            <div class="center gray">
                                <p>2018中国青少年机器人竞赛综合技能项目</p>
                                <p>小学组二等奖</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="am-u-xs-6 weight">
                        <div class="pic">
                            <img src="__index__/images/20190814194917_12.png" />
                        </div>
                        <div>
                            <div class="center gray">
                                <p>2017年WER世界锦标赛亚军</p>
                            </div>
                        </div>
                    </div>
                    <div class="am-u-xs-6 weight">
                        <div class="pic">
                            <img src="__index__/images/20190814194917_13.png" />
                        </div>
                        <div>
                            <div class="center gray">
                                <p>2019全国中小学生电脑制作活动广东省冠军</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="am-u-xs-12 am-padding-xs weight">
                        <div class="pic">
                            <img src="__index__/images/20190819103643.jpg" />
                        </div>
                        <div>
                            <div class="center gray">
                                <p> 2019广东省青少年机器人竞赛VEX工程挑战赛</p>
                                <p>小学、高中组冠军</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="pic_w">
            <div class="bgf am-margin-top-xs clearfix joinintitlebox">
                <div class="weight joinintitle">
                    <div class="txt">品牌优势</div>
                    <div class="e">
                        Brand Advantage
                    </div>
                </div>
            </div>
            <img src="__index__/images/20190814091511_08.png" class="pic" />
            <div class="bgf am-margin-top-xs clearfix joinintitlebox">
                <div class="weight joinintitle">
                    <div class="txt">盈利模式</div>
                    <div class="e">
                        Profit Model
                    </div>
                </div>
            </div>
            <img src="__index__/images/20190814091511_10.png" class="pic" />
            <div class="bgf am-margin-top-xs clearfix joinintitlebox">
                <div class="weight joinintitle">
                    <div class="txt">运营支持保障</div>
                    <div class="e">
                        Support Guarantees
                    </div>
                </div>
            </div>
            <img src="__index__/images/20190814091511_12.png" class="pic" />
        </div>
    </div>
	
    {include file="Common/from"/}
    {include file="Common/footer"/}
    {include file="Common/joininlay"/}
    
    <script src="__index__/js/distpicker.data.js"></script>
    <script src="__index__/js/distpicker.js"></script>
    <script>
        $(".joininlay").click(function(){
            $(".joininl").show();
        })
        $(".joininl").click(function(){
            $(this).hide();
        })
        $(".joininl > div").click(function(e){
            e.stopPropagation();
        })
        $("#joinin").click(function () {
            let jo_name = $(".am-form-jo1 input[name='jo_name']").val();
            let jo_phone = $(".am-form-jo1 input[name='jo_phone']").val();
            let jo_pro = $(".am-form-jo1 select[name='jo_pro'] option:selected").val();
            let jo_city = $(".am-form-jo1 select[name='jo_city'] option:selected").val();

            $.ajax({
                type: "POST",
                data: { jo_name: jo_name, jo_phone: jo_phone, jo_pro: jo_pro, jo_city: jo_city },
                url: "{:url('joinin/index')}",
                dataType: "json",
                success: function (data) {
                    if (data.error == "2") {
                        layer.msg("<span>" + data.msg + "</span>");
                    } else if (data.error == "0") {
                        layer.msg("<span>" + data.msg + "</span>");
                    } else if (data.error == "0" && data.error == "1") {
                        layer.msg("<span>" + data.msg + "</span>");
                    }
                }
            });
            return false;
        })

        $("#joininlay").click(function () {
            let jo_name = $(".am-form-jo2 input[name='jo_name']").val();
            let jo_phone = $(".am-form-jo2 input[name='jo_phone']").val();
            let jo_pro = $(".am-form-jo2 select[name='jo_pro'] option:selected").val();
            let jo_city = $(".am-form-jo2 select[name='jo_city'] option:selected").val();

            $.ajax({
                type: "POST",
                data: { jo_name: jo_name, jo_phone: jo_phone, jo_pro: jo_pro, jo_city: jo_city },
                url: "{:url('joinin/index')}",
                dataType: "json",
                success: function (data) {
                    if (data.error == "2") {
                        layer.msg("<span>" + data.msg + "</span>");
                    } else if (data.error == "0") {
                        layer.msg("<span>" + data.msg + "</span>");
                    } else if (data.error == "0" && data.error == "1") {
                        layer.msg("<span>" + data.msg + "</span>");
                    }
                    if(data.msg == '提交成功！'){
                        $(".joininl").hide();
                    }
                }
            });
            return false;
        })
    </script>
</body>

</html>