<!DOCTYPE html>
<html lang="en">
{include file="Common/head"/}

<body>
    {include file="Common/header"/}
   
    <!-- banner -->
    <div class="swiper-container swiper-container-index">
        <div class="swiper-wrapper">
            <div class="indexbanner minw swiper-slide"><img src="__index__/images/20190819171246.jpg"/>
            </div>
            <div class="indexbanner minw swiper-slide"><img src="__index__/images/20190819171246.jpg"/>
            </div>
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination" id="bannerpagination"></div>
    </div>
    <div class="flexcontent am-padding-bottom-0 flexcontentjo">
        <div class="joininlay">
            <img src="__index__/images/20190902114016.png">
        </div>

        <h1 class="joinintitle weight am-padding-vertical-xl center bgf">行业前景<em></em><span>Industry Prospects</span>
        </h1>

        <div class="contentWidth am-text-left am-padding-vertical-xl">
            <div class="am-padding-horizontal-xl clearfix joinin-top">
                <div class="am-u-lg-3 am-u-lx-3 am-u-sm-3 am-u-xs-3">
                    <div>
                        <img src="__index__/images/joinin_01_06.png" class="am-margin-bottom-sm" />
                    </div>
                    <div>
                        <div class="tit weight"><span class="num f36">01</span><span class="f22 t">国家全面倡导</span></div>
                        2017年7月，发布《新一代人工智能发展规划》，指出“实施全民智能教育项目 ，在中小学阶段设置人工智能相关课程，逐步推广编程教育“的重要性。2018年
                        1月，教育部将人工智能、物联网、大数据处理、算法、开源硬件项目设计等正 式划入新课标。
                    </div>
                </div>
                <div class="am-u-lg-3 am-u-lx-3 am-u-sm-3 am-u-xs-3">
                    <div>
                        <div class="tit weight"><span class="num f36">02</span><span class="f22 t">人口政策支持</span></div>
                        随着“二胎”政策的放开，2016年至2028年中国适合科技创新教育的儿童将会出 现井喷的趋势，这将决定中国科技创新教育必将迎来20年的人口红利大牛市。
                    </div>
                    <div>
                        <img src="__index__/images/joinin_01_14.png" class="am-margin-top-sm" /></div>
                </div>
                <div class="am-u-lg-3 am-u-lx-3 am-u-sm-3 am-u-xs-3">
                    <div>

                        <img src="__index__/images/joinin_01_03.png" class="am-margin-bottom-sm" /></div>
                    <div>
                        <div class="tit weight"><span class="num f36">03</span><span class="f22 t">国民意识改变</span></div>
                        近年来由于教育制度的改革以及出国留学的趋势愈演愈烈，科技创新教育以其国 际化和贴近时代气息、快乐学习的特点更能受到家长的青睐。
                    </div>
                </div>
                <div class="am-u-lg-3 am-u-lx-3 am-u-sm-3 am-u-xs-3">
                    <div>
                        <div class="tit weight"><span class="num f36">04</span><span class="f22 t">行业重大机遇</span></div>
                        发布文件《关于规范校外培训机构发展的意见》，重点规范学科类知识培训，明 确规定教师资质与机构收费，素质类教育迎来新机遇。
                    </div>
                    <div> <img src="__index__/images/joinin_01_10.png" class="am-margin-top-sm" /></div>
                </div>
            </div>
        </div>
        <img src="__index__/images/joinin_02.png" class="pic" />
    </div>
    <div class="joininabout am-padding-bottom-xl">
        <div class="contentWidth am-padding-xl am-padding-top-0 clearfix">
            <h1 class="joinintitle weight am-padding-vertical-xl center">公司简介<em></em><span>Introduction</span></h1>
            <div class="row am-padding-horizontal-xl">
                <div class="am-u-lg-6 am-u-md-6 am-u-sm-6 am-u-xs-12">
                    <p class="f16 text am-margin-bottom-xl am-margin-right-sm">
                        <span
                            class="weight">海客智能机器人</span>是海泓科技旗下的人工智能教育培训品牌，覆盖从幼儿园到小学初中高中阶段的青少年机器人培训课程，致力于为3-18岁青少年儿童提供机器人智能培训解决方案。<span
                            class="weight">海泓科技有限公司</span>成立于2015年3月，注册资金人民币1000万元。是一家集“机器人教育培训”“机器人课程研发”“机器人教具研发”“机器人教师培训”为一体的综合性科技公司。
                    </p>
                    <div class="am-margin-right-sm">
                        <img src="__index__/images/39_05.png">
                    </div>
                </div>
                <div class="am-u-lg-6 am-u-md-6 am-u-sm-6 am-u-xs-12">
                    <div class="am-margin-left-sm">
                        <img src="__index__/images/39_06.png">
                    </div>
                    <p class="f16 text am-margin-top-xl am-margin-left-sm">
                        “海客机器人”通过培养孩子对机器人各部件的组装、搭建、设计、创意、编程、实验、比赛等系列的活动课程，提升孩子的实操动手能力、空间想象能力、外在审美能力，掌握物理数学知识的运用；培养及训练孩子的逻辑思维推理能力、团队沟通协作能力，让孩子拥有分析问题和解决问题的能力，培养成为具有独立思考能力和创造力的未来型人才。
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="flexcontent am-padding-bottom-0">
        <img src="__index__/images/joinin_04.png" class="pic" />
    </div>
    <div class="center weight f26">
        <p class="am-margin-bottom">联合中南大学、中山大学人工智能研发团队共同研发国际竟争力</p>
        <p class="am-margin-bottom-xl">的机器人教学教具</p>
    </div>
    <div class="contentWidth am-padding-horizontal-xl am-padding-bottom-lg">
        <div class="am-padding-horizontal-xl joinin-box1">
            <div class="am-u-lg-8 am-u-md-8 am-u-sm-8 am-u-xs-12">
                <img src="__index__/images/39_07.png" />
            </div>
            <div class="am-u-lg-4 am-u-md-4 am-u-sm-4 am-u-xs-12 text am-padding-xl">
                海客根据中国学生的身心发展特点，研发了MEI机器人课程体系，并配置专用的教学硬件，打造最适合中国青少年的机器人课程。教具兼容多种编程语言和传感器，让学生能够充分发挥自己的想像力，轻松完成自己的机器人作品。
            </div>
        </div>
    </div>
    <div class="flexcontent am-padding-bottom-0 am-margin-top-xl">
        <h1 class="joinintitle weight am-padding-vertical-xl center bgf">品牌优势<em></em><span>Brand Advantage</span></h1>
        <img src="__index__/images/joinin_07.jpg" class="pic" />
    </div>
    <div class="am-padding-horizontal-xl">
        <div class="row contentWidth clearfix am-padding-horizontal-xl joinin_ter">

            <div class="am-padding-horizontal">
                <div class="am-margin-bottom-lg image">
                    <img src="__index__/images/ter-head-1.png" />
                </div>
                <div class="textcon">
                    <div class="center">
                        <div class="f14 am-padding-vertical tit">
                            <span class="weight f26">喻江</span>
                            清华大学硕土
                        </div>
                    </div>
                    <div class="am-padding-sm am-padding-top-0">
                        <div class="weight center am-margin-vertical-sm f18">海客智能教学总监</div>
                        <div class="cont">
                            本科毕业于南京大学软件专业，研究生毕业于清华大学，喻老师专注于STEAM创客教育等相关研究，从事青少年机器人教育多年，有丰富的课程开发经验和教学经验。
                        </div>
                    </div>
                </div>
            </div>
            <div class="am-padding-horizontal-xs line">
                <div class="am-margin-bottom-lg image">
                    <img src="__index__/images/ter-head-2.png" />
                </div>
                <div class="textcon">
                    <div class="center">
                        <div class="f14 am-padding-vertical tit tit1">
                            <span class="weight f26">蔡霖</span>
                            大连理工大学硕士
                        </div>
                    </div>
                    <div class="am-padding-sm am-padding-top-0">
                        <div class="weight center am-margin-vertical-sm f18">海客金牌讲师</div>
                        <div class="cont">
                            毕业于大连理工大学机械专业硕士，具有多年的教学经验。蔡老师讲课风格幽默且思路清晰，课堂中也不断贯穿STEAM教育理念，善于和小孩沟通，能够顾及到学生的心里特点和接受能力。
                        </div>
                    </div>
                </div>
            </div>

            <div class="am-padding-horizontal-xs">
                <div class="am-margin-bottom-lg image">
                    <img src="__index__/images/ter-head-4.png" />
                </div>
                <div class="textcon">
                    <div class="center">
                        <div class="f14 am-padding-vertical tit tit2">
                            <span class="weight f26">刘梦杰</span>

                        </div>
                    </div>
                    <div class="am-padding-sm am-padding-top-0">
                        <div class="weight center am-margin-vertical-sm f18">机器人创客指导师</div>
                        <div class="cont">
                            拥有丰富的教学经验，多次带领学员参加各类机器人竞赛，曾带队获得广东省机器人竞赛综合技能项目冠军。教学认真负责，授课时能够-切从实际出发，将技术难点分析透彻，使学员快速入门，学以致用。
                        </div>
                    </div>
                </div>
            </div>
            <div class="am-padding-horizontal-xs">
                <div class="am-margin-bottom-lg image">
                    <img src="__index__/images/ter-head-6.png" />
                </div>
                <div class="textcon">
                    <div class="center">
                        <div class="f14 am-padding-vertical tit tit3">
                            <span class="weight f26">程志刚</span>
                        </div>
                    </div>
                    <div class="am-padding-sm am-padding-top-0">
                        <div class="weight center am-margin-vertical-sm f18">WER机器人竞赛金牌教练</div>
                        <div class="cont">
                            拥有多年的国际大赛国内赛事带队经验，队员荣获2017WER机器人世界锦标赛亚军。包揽2018WER机器人广州市赛冠亚季军。
                        </div>
                    </div>
                </div>
            </div>

            <div class="am-padding-horizontal-xs">
                <div class="am-margin-bottom-lg image">
                    <img src="__index__/images/ter-head-7.png" />
                </div>
                <div class="textcon">
                    <div class="center">
                        <div class="f14 am-padding-vertical tit tit4">
                            <span class="weight f26">陈丹伟</span>
                        </div>
                    </div>
                    <div class="am-padding-sm am-padding-top-0">
                        <div class="weight center am-margin-vertical-sm f18">VEX机器人竞赛金牌教练</div>
                        <div class="cont">
                            拥有多年的国际大赛国内赛事带队经验，队员荣获VEX锦标赛金奖，VEX亚洲公开赛-等奖， 在科协举办的中国青少年机器人大赛中获得广东省赛冠军，并包揽VEX机器人项目广州冠亚季军。
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <h1 class="joinintitle weight am-padding-vertical-xl center bgf">海客获得荣誉<em></em><span>Hic Hubs Honor</span></h1>
    <div class="flexcontent am-padding-bottom-0">
        <img src="__index__/images/j-t.png" class="pic" />
    </div>
    <div class="row competition_bottom_j contentWidth am-padding-top-xl clearfix">
        <div class="am-padding-horizontal-xl f16">
            <div class="am-u-lg-4 am-u-md-4 am-u-sm-4 am-u-xs-12">
                <div class="img am-margin-bottom-sm">
                    <img src="__index__/images/20190814194917_03.png">
                </div>
                <div class="center am-margin-bottom-sm">
                    <p>2019世界机器人大赛总决赛VEX工程挑战赛</p>
                    <p>全能奖</p>
                </div>
            </div>
            <div class="am-u-lg-4 am-u-md-4 am-u-sm-4 am-u-xs-12">
                <div class="img am-margin-bottom-sm">
                    <img src="__index__/images/pic3.png">
                </div>
                <div class="center am-margin-bottom-sm">
                    <p>2018中国青少年机器人竞赛综合技能项目</p>
                    <p>小学组二等奖</p>
                </div>
            </div>
            <div class="am-u-lg-4 am-u-md-4 am-u-sm-4 am-u-xs-12">
                <div class="img am-margin-bottom-sm">
                    <img src="__index__/images/20190814194917_07.png">
                </div>
                <div class="center am-margin-bottom-sm">
                    <p> 2019广东省青少年机器人竞赛VEX工程挑战赛</p>
                    <p>小学、高中组冠军</p>
                </div>
            </div>
        </div>
        <div class="am-padding-horizontal-xl f16">
            <div class="am-u-lg-4 am-u-md-4 am-u-sm-4 am-u-xs-12">
                <div class="img am-margin-bottom-sm">
                    <img src="__index__/images/20190814194917_12.png">
                </div>
                <div class="center am-margin-bottom-sm">
                    <p>2017年WER世界锦标赛亚军</p>
                </div>
            </div>
            <div class="am-u-lg-4 am-u-md-4 am-u-sm-4 am-u-xs-12">
                <div class="img am-margin-bottom-sm">
                    <img src="__index__/images/20190814194917_13.png">
                </div>
                <div class="center am-margin-bottom-sm">
                    <p>2019全国中小学生电脑制作活动广东省冠军</p>
                </div>
            </div>
            <div class="am-u-lg-4 am-u-md-4 am-u-sm-4 am-u-xs-12">
                <div class="img am-margin-bottom-sm">
                    <img src="__index__/images/20190814194917_14.png">
                </div>
                <div class="center am-margin-bottom-sm">
                    <p> 2019世界机器人大会总决赛VEX工程挑战赛冠军
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="flexcontent am-padding-bottom-0 am-margin-top-xl">
        <h1 class="joinintitle weight am-padding-vertical-xl center bgf">盈利模式<em></em><span>Profit Model</span></h1>
        <img src="__index__/images/joinin_08.png" class="pic" />
        <h1 class="joinintitle weight am-padding-vertical-xl center bgf">运营支持保障<em></em><span>Support Guarantees</span>
        </h1>
        <img src="__index__/images/joinin_09.png" class="pic" />
    </div>
    {include file="Common/form"/}
    {include file="Common/layerbox"/}
	<div class="center bottomtext">
    <p>创业有风险&nbsp;&nbsp;&nbsp;投资需谨慎</p>
    <p>广东海泓科技有限公司版权所有</p>
</div>
    {include file="Common/footer"/}
    {include file="Common/joininlay"/}
    <script src="__index__/js/distpicker.data.js"></script>
    <script src="__index__/js/distpicker.js"></script>
    <script>
        $(".joininlay").click(function () {
            $(".joininl").show();
        })
        $(".joininl").click(function () {
            $(this).hide();
        })
        $(".joininl > div").click(function (e) {
            e.stopPropagation();
        })
        $("#joinin").click(function () {
            let jo_name = $(".am-form-jo1 input[name='jo_name']").val();
            let jo_phone = $(".am-form-jo1 input[name='jo_phone']").val();
            let jo_pro = $(".am-form-jo1 select[name='jo_pro'] option:selected").val();
            let jo_city = $(".am-form-jo1 select[name='jo_city'] option:selected").val();

            $.ajax({
                type: "POST",
                data: { jo_name: jo_name, jo_phone: jo_phone, jo_pro: jo_pro, jo_city: jo_city },
                url: "{:url('joinin/index')}",
                dataType: "json",
                success: function (data) {
                    if (data.error == "2") {
                        layer.msg("<span>" + data.msg + "</span>");
                    } else if (data.error == "0") {
                        layer.msg("<span>" + data.msg + "</span>");
                    } else if (data.error == "0" && data.error == "1") {
                        layer.msg("<span>" + data.msg + "</span>");
                    }
                }
            });
            return false;
        })

        $("#joininlay").click(function () {
            let jo_name = $(".am-form-jo2 input[name='jo_name']").val();
            let jo_phone = $(".am-form-jo2 input[name='jo_phone']").val();
            let jo_pro = $(".am-form-jo2 select[name='jo_pro'] option:selected").val();
            let jo_city = $(".am-form-jo2 select[name='jo_city'] option:selected").val();

            $.ajax({
                type: "POST",
                data: { jo_name: jo_name, jo_phone: jo_phone, jo_pro: jo_pro, jo_city: jo_city },
                url: "{:url('joinin/index')}",
                dataType: "json",
                success: function (data) {
                    if (data.error == "2") {
                        layer.msg("<span>" + data.msg + "</span>");
                    } else if (data.error == "0") {
                        layer.msg("<span>" + data.msg + "</span>");
                    } else if (data.error == "0" && data.error == "1") {
                        layer.msg("<span>" + data.msg + "</span>");
                    }
                    if (data.msg == '提交成功！') {
                        $(".joininl").hide();
                    }
                }
            });
            return false;
        })
    </script>
</body>

</html>