<!DOCTYPE html>
<html lang="en">
{include file="Common/head"/}

<body>
    {include file="Common/header"/}
    <!-- banner -->
    <div class="swiper-container swiper-container-index">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <img src="__index__/images/39_02m.jpg" alt="">
            </div>
            <div class="swiper-slide"> <img src="__index__/images/39_02m.jpg" alt=""></div>
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination" id="bannerpagination"></div>
    </div>
    <div class="contentWidth clearfix am-padding-bottom-xs">
        <div class="center tuijian_title">
            <h1>关于我们</h1>
            <div class="">
                <div class="am-u-lg-6 am-u-md-6 am-u-sm-12 am-u-xs-12 am-padding-xs">
                    <div class="pic_w">
                        <img src="__index__/images/39_05.png" class="pic">
                    </div>
                </div>
                <div class="am-u-lg-6 am-u-md-6 am-u-sm-12 am-u-xs-12 am-padding-xs am-padding-top-0">
                    <p class="intr_text">
                        “海客智能机器人”是海泓科技旗下的人工智能教育培训品牌，覆盖从幼儿园到小学初中高中阶段的青少年机器人培训课程，致力于为3-18岁青少年儿童提供机器人智能培训解决方案。“海泓科技有限公司”成立于2015年3月，注册资金人民币1000万元。是一家集“机器人教育培训”“机器人课程研发”“机器人教具研发”“机器人教师培训”为一体的综合性科技公司。
                    </p>
                    <p class="intr_text">
                       “海客智能机器人”通过培养孩子对机器人各部件的组装、搭建、设计、创意、编程、实验、比赛等系列的活动课程，提升孩子的实操动手能力、空间想象能力、外在审美能力，掌握物理数学知识的运用；培养及训练孩子的逻辑思维推理能力、团队沟通协作能力，让孩子拥有分析问题和解决问题的能力，培养成为具有独立思考能力和创造力的未来型人才。
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="pic_w">
        <img src="__index__/images/39_08.png" class="pic">
    </div>

    <div class="clearfix">
        <div class="center tuijian_title am-padding-bottom-xl">
            <h1>企业荣誉</h1>
        </div>
        <div class="row wenhuay">
            <div class="row clearfix">
                <div class="am-u-xs-6">
                    <div class="pic">
                        <img src="__index__/images/20190817145515_03.png" />
                    </div>
                    <div>
                        <div class="center gray">
                            <p>中国电子协会全国青少年</p>
                            <p>科普创新教育基地</p>
                        </div>
                    </div>
                </div>

                <div class="am-u-xs-6">
                    <div class="pic">
                        <img src="__index__/images/20190817145515_05.png" />
                    </div>
                    <div>
                        <div class="center gray">
                            <p>全国青少年机器人技术</p>
                            <p>等级考试授权培训点</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row clearfix">
                <div class="am-u-xs-6">
                    <div class="pic">
                        <img src="__index__/images/20190817145515_09.png" />
                    </div>
                    <div>
                        <div class="center gray">
                            <p>广东省机器人协会第一届理事会</p>
                            <p>副会长单位</p>
                        </div>
                    </div>
                </div>
                <div class="am-u-xs-6">
                    <div class="pic">
                        <img src="__index__/images/20190817145515_10.png" />
                    </div>
                    <div>
                        <div class="center gray">
                            <p>中国国家培训网创客教育</p>
                            <p>指导师培训基地</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix">
        <div class="center tuijian_title am-padding-bottom-xl">
            <h1>企业文化</h1>
        </div>
        <div class="row wenhua">
            <div class="am-u-xs-6 am-margin-xs"><img src="__index__/images/20190817140025_03.png" /></div>
            <div class="am-u-xs-6 am-margin-xs textcon">
                <div>
                    <h1 class=" weight">企业使命</h1>
                    <div class=" gray">
                        <p>普及人工智能教育</p>
                        <p>提升参加国际竞赛竞争力</p>
                        <p>综合素质能力培养</p>
                    </div>
                </div>
            </div>
            <div class="am-u-xs-6 textcon am-margin-xs">
                <div>
                    <h1 class=" weight">企业定位</h1>
                    <div class=" gray">
                        <p>专业化的青少年，人工智能教育机构</p>
                    </div>
                </div>
            </div>
            <div class="am-u-xs-6 am-margin-xs"><img src="__index__/images/20190817140025_05.png" /></div>
            <div class="am-u-xs-6 am-margin-xs"><img src="__index__/images/20190817140025_10.png" /></div>
            <div class="am-u-xs-6 textcon am-margin-xs">
                <div>
                    <h1 class=" weight">品牌愿景</h1>
                    <div class=" gray">
                        <p>做最专业的国际化青少年人工智能教育品牌</p>
                    </div>
                </div>
            </div>

            <div class="am-u-xs-6 textcon am-margin-xs">
                <div>
                    <h1 class=" weight">企业宗旨</h1>
                    <div class=" gray">
                        <p>尊重教育的本质，遵循教育的规律，</p>
                        <p>以教育为导向，</p>
                        <p>致力于培养具备未来主流竞争力的科技人才!</p>
                    </div>
                </div>
            </div>
            <div class="am-u-xs-6 am-margin-xs"><img src="__index__/images/20190817140025_13.png" /></div>
        </div>
    </div>
    <div class="contentWidth clearfix am-padding-bottom-xs">
            <div class="center tuijian_title am-padding-bottom-xs">
                <h1>联系我们</h1>
            </div>
            <div class="am-u-lg-8 am-padding-top am-u-md-8 am-u-sm-12 am-u-xs-12 am-padding-0">
                <form class="am-form am-form-about">
                    <fieldset>
                        <div class="am-u-lg-6 am-u-md-6 am-u-sm-12 am-u-xs-12 am-padding-0 am-margin-bottom-xs">
                            <div class="am-u-lg-4 am-u-md-4 am-u-sm-2 am-u-xs-2 am-padding-0 am-text-right">
                                <label><em class="am-text-danger" name="ab_name" >*</em>姓名：</label>
                            </div>
                            <div class="am-u-lg-8 am-u-md-8 am-u-sm-10 am-u-xs-10 am-padding-left-xs">
                                <input type="text" placeholder="姓名">
                            </div>
                        </div>
                        <div class="am-u-lg-6 am-u-md-6 am-u-sm-12 am-u-xs-12 am-padding-0 am-margin-bottom-xs">
                            <div class="am-u-lg-4 am-u-md-4 am-u-sm-2 am-u-xs-2 am-padding-0 am-text-right">
                                <label><em class="am-text-danger">*</em>电话：</label>
                            </div>
                            <div class="am-u-lg-8 am-u-md-8 am-u-sm-10 am-u-xs-10 am-padding-left-xs">
                                <input type="text" placeholder="手机号码" name="ab_phone">
                            </div>
                        </div>
                        <div class="am-u-lg-6 am-u-md-6 am-u-sm-12 am-u-xs-12 am-padding-0 am-margin-bottom-xs">
                            <div class="am-u-lg-4 am-u-md-4 am-u-sm-2 am-u-xs-2 am-padding-0 am-text-right">
                                <label><em class="am-text-danger">*</em>邮箱：</label>
                            </div>
                            <div class="am-u-lg-8 am-u-md-8 am-u-sm-10 am-u-xs-10 am-padding-left-xs">
                                <input type="email" name="ab_email" placeholder="电子邮箱">
                            </div>
                        </div>
                        <div class="am-u-lg-6 am-u-md-6 am-u-sm-12 am-u-xs-12 am-padding-0 am-margin-bottom-xs">
                            <div class="am-u-lg-4 am-u-md-4 am-u-sm-2 am-u-xs-2 am-padding-0 am-text-right">
                                <label><em class="am-text-danger">*</em>公司：</label>
                            </div>
                            <div class="am-u-lg-8 am-u-md-8 am-u-sm-10 am-u-xs-10 am-padding-left-xs">
                                <input name="ab_company" type="text" placeholder="你的公司名称">
                            </div>
                        </div>
                        <div class="am-u-lg-6 am-u-md-6 am-u-sm-12 am-u-xs-12 am-padding-0 am-margin-bottom-xs">
                            <div class="am-u-lg-4 am-u-md-4 am-u-sm-2 am-u-xs-2 am-padding-0 am-text-right">
                                <label><em class="am-text-danger">*</em>内容:</label>
                            </div>
                            <div class="am-u-lg-8 am-u-md-8 am-u-sm-10 am-u-xs-10 am-padding-left-xs">
                                <textarea rows="5" placeholder="" name="ab_content"></textarea>
                            </div>
                        </div>
                        <div class="am-u-lg-12 am-u-md-12 am-u-sm-12 am-u-xs-12">
                            <button type="submit" class="am-btn am-btn-default">提交</button>
                        </div>

                    </fieldset>
                </form>
            </div>
        </div>
    {include file="Common/footer"/}
	<script>
        $("#aboutf").click(function () {
            var ab_name = $("input[name='ab_name']").val();
            var ab_phone = $("input[name='ab_phone']").val();
            var ab_email = $("input[name='ab_email']").val();
            var ab_company = $("input[name='ab_company']").val();
            var ab_content = $("textarea[name='ab_content']").val();
            $.ajax({
                type: "POST",
                data: { ab_name: ab_name, ab_phone: ab_phone, ab_email: ab_email, ab_company: ab_company, ab_content: ab_content },
                url: "{:url('about/index')}",
                dataType: "json",
                success: function (data) {
                    if (data.error == "2") {
                        layer.msg("<span>" + data.msg + "</span>");
                    }else if(data.error == "0"){
                        layer.msg("<span>" + data.msg + "</span>");
                    }else if(data.error == "0" && data.error == "1"){
                        layer.msg("<span>" + data.msg + "</span>");
                    }
                }
            });
            return false;
        })
    </script>
</body>

</html>