<!DOCTYPE html>
<html lang="en">
  {include file="Common/headdynamic"/}

<body>
    {include file="Common/header"/}

    <div class="contentWidth article_box">
      <div>
        <h1 class="f36 center">{$industry.title}</h1>
      </div>
      <div class="center f16 time">
        发布时间：{$industry.time|date="Y-m-d H:i:s",###}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;发布人：海客智能机器人课程
      </div>
      <div class="article_content">
          <div class="pic">
              <img src="__upload__/{$industry.image}" />
          </div>
       
          {$industry.content}
      </div>
    </div>
   {include file="Common/layer"/}
    {include file="Common/layerbox"/}
    {include file="Common/footer"/}
</body>

</html>