<div class="am-u-lg-8 am-padding-top am-u-md-8 am-u-sm-8 am-u-xs-12 am-u-lg-offset-2 am-u-md-offset-2 am-u-xs-offset-2 am-u-xs-offset-0 am-text-lg">
    <form class="am-form am-form-about" action="" method="post" id="form">
	
	<input type="hidden" name="user_email" value="liaohaiyan@haihong108.onaliyun.com"/> 
	<input type="hidden" name="user_email2" value="liumengjie@haihong108.onaliyun.com"/> 
	<input type="hidden" name="user_email3" value="moyongyi@haihong108.onaliyun.com"/> 
	<input type="hidden" name="user_email4" value="chensaihu@haihong108.onaliyun.com"/>
    <input type="hidden" name="user_email5" value="kuangwenjun@haihong108.onaliyun.com"/>
    <input type="hidden" name="user_email6" value="chensaihu@haihong108.onaliyun.com"/>
        <fieldset>
            <div class="am-u-lg-6 am-u-md-6 am-u-sm-6 am-u-xs-12 am-padding-bottom">
                <div class="am-form-group">
                    <div class="am-u-lg-4 am-u-md-4 am-u-sm-4 am-u-xs-4 am-text-right">
                        <label><em class="am-text-danger">*</em>姓名：</label>
                    </div>
                    <div class="am-u-lg-8 am-u-md-8 am-u-sm-8 am-u-xs-8 am-padding-left-xs">
                        <input type="text" placeholder="姓名" name="ab_name" />
                    </div>
                </div>
            </div>
            <div class="am-u-lg-6 am-u-md-6 am-u-sm-6 am-u-xs-12 am-padding-bottom">
                <div class="am-form-group">
                    <div class="am-u-lg-4 am-u-md-4 am-u-sm-4 am-u-xs-4 am-text-right">
                        <label><em class="am-text-danger">*</em>电话：</label>
                    </div>
                    <div class="am-u-lg-8 am-u-md-8 am-u-sm-8 am-u-xs-8 am-padding-left-xs">
                        <input type="text" placeholder="手机号码" name="ab_phone" />
                    </div>
                </div>
            </div>
            <div class="am-u-lg-6 am-u-md-6 am-u-sm-6 am-u-xs-12 am-padding-bottom">
                <div class="am-form-group">
                    <div class="am-u-lg-4 am-u-md-4 am-u-sm-4 am-u-xs-4 am-text-right">
                        <label><em class="am-text-danger">*</em>邮箱：</label>
                    </div>
                    <div class="am-u-lg-8 am-u-md-8 am-u-sm-8 am-u-xs-8 am-padding-left-xs">
                        <input type="email" placeholder="电子邮箱" name="ab_email" />
                    </div>
                </div>
            </div>
            <div class="am-u-lg-6 am-u-md-6 am-u-sm-6 am-u-xs-12 am-padding-bottom">
                <div class="am-form-group">
                    <div class="am-u-lg-4 am-u-md-4 am-u-sm-4 am-u-xs-4 am-text-right">
                        <label><em class="am-text-danger">*</em>公司：</label>
                    </div>
                    <div class="am-u-lg-8 am-u-md-8 am-u-sm-8 am-u-xs-8 am-padding-left-xs">
                        <input type="text" placeholder="你的公司名称" name="ab_company" />
                    </div>
                </div>
            </div>
            <div class="am-u-lg-12 am-u-md-12 am-u-sm-12 am-u-xs-12">
                <div class="am-form-group">
                    <div class="am-u-lg-2 am-u-md-2 am-u-sm-2 am-u-xs-2 am-padding-right-lg am-text-right">
                        <label><em class="am-text-danger">*</em>内容:</label>
                    </div>
                    <div class="am-padding-left-0 am-u-lg-10 am-u-md-10 am-u-sm-10 am-u-xs-11">
                        <textarea class="" rows="5" placeholder="" name="ab_content"></textarea>
                    </div>
                </div>
            </div>
            <div class="am-u-lg-12 am-u-md-12 am-u-sm-12 am-u-xs-12 am-padding-top">
                <button id="aboutf" class="am-btn am-btn-default">提交</button>
            </div>
        </fieldset>
    </form>
</div>