<div class="banner_tab_con ">
    <form method="post" data-auto="true" class="form1">
	
		<input type="hidden" name="user_email" value="liaohaiyan@haihong108.onaliyun.com">
        <input type="hidden" name="user_email2" value="liumengjie@haihong108.onaliyun.com">
        <input type="hidden" name="user_email3" value="moyongyi@haihong108.onaliyun.com">
        <input type="hidden" name="user_email4" value="chensaihu@haihong108.onaliyun.com"/>
		
        <div class="banner_tab">
            <div class="banner_tab_div">
                <div class="title">
                    <h1>免费领取</h1>
                    <p>价值<strong>388</strong>元试听课</p>
                </div>
                <div class="input_text">
                    <img src="__index__/images/ban-icon-phone.png" />
                    <input type="text" placeholder="请输入手机号" name="c_phone" />
                </div>
                <div class="input_text">
                    <img src="__index__/images/ban-icon-user.png" />
                    <input type="text" placeholder="孩子姓名" name="c_name" />
                </div>
                <div class="input_text">
                    <img src="__index__/images/ban-icon-user.png" />
                    <input type="text" placeholder="孩子年龄" name="c_age" />
                </div>
                <div class="receive">
                    <button id="submit1">立即免费领取</button>
                </div>
            </div>
            <div class="banner_tab_div">
                <a href="#">
                    <div class="bottom">
                        <img src="__index__/images/ban-icon-kefu.png" />
                        <span>海客加盟咨询</span>
                    </div>
                    <em>></em>
                </a>
            </div>
        </div>
    </form>


</div>