<!-- footer -->
<div class="footer minw white">
    <div class="address">
        <div class="contentWidth">
            <div class="address_con">
                <!-- 地址 -->
                <dl class="clearfix">
                    <dd>
                        <p>广州总部 (海客总部)：</p>
                        <p>广州市天河区体育西路111号建和中心18楼BCD座</p>
                    </dd>
                    <dd>
                        <p>广州珠江新城校区：</p>
                        <p>广州市天河区兴盛路10号334-335</p>
                    </dd>
					<dd>
                        <p>南沙校区：</p>
                        <p>广东省广州市南沙区双山大道南自贸区跨境购物免税店</p>
                    </dd>
					<dd>
                        <p>珠海校区：</p>
                        <p>广东省珠海市香洲区香榭路33好正方优和汇红荔5层</p>
                    </dd>
                    <dd>
                        <p>长沙(湖南总部)：</p>
                        <p>长沙市开福区金泰路与网船班路交汇处世纪云中心三楼</p>
                    </dd>
                    <dd>
                        <p>佛山总部：</p>
                        <p>佛山市禅城区文华中路湖明街20号文华广场4楼</p>
                    </dd>
                    <dd>
                        <p>增城(增城总部)：</p>
                        <p>广州市增城区新塘镇永宁街碧桂园凤凰城凤荔苑二街18号</p>
                    </dd>
					<dd>
                        <p>增城第二校区：</p>
                        <p>广东省广州市增城区新塘镇东进东路8号盛世名门会所一楼花园教育</p>
                    </dd>

					<dd>
                        <p>深圳校区：</p>
                        <p>深圳市龙岗区平安里二路3-114</p>
                    </dd>
					<dd>
                        <p>惠州校区：</p>
                        <p>惠州市惠城区旭日路2号文岭西堤花园邦德教育</p>
                    </dd>
					<dd>
                        <p>中山校区：</p>
                        <p>中山市东区中山六路1号天奕国际广场2层1卡商铺</p>
                    </dd>
					<dd>
                        <p>荆州校区：</p>
                        <p>荆州市沙市区北京路与红门路交汇处万家福超市二层</p>
                    </dd>					
					<dd>
                        <p>衡阳校区：</p>
                        <p>湖南省衡阳市祁东县楚杰路79号</p>
                    </dd>
                </dl>

                <!-- 公众号，二维码 -->
					<div class="public_number">
                    <div class="erweima">
                        <img src="__index__/images/erweima.png" />
                    </div>
                    <div class="erweima_txt">
                        <div class="erweima_txt_tit">
                            <p>微信扫二维码</p>
                            <p>关注官方公众</p>
                        </div>
                        <div class="phone">
                            <p class="txt">预约免费试听课</p>
                            <p class="f16 weight number">400-8003117</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- copy -->
    <div class="copy">
        <div class="contentWidth center">
            <a href="https://beian.miit.gov.cn">粤ICP备15027021号</a>
        </div>
    </div>
</div>

<script src="__admin__/js/jquery.min.js"></script>
<script src="__index__/js/swiper.min.js" defer></script>
<script src="__layer__/layer.js" defer></script>
<script src="__index__/js/ajax.js"></script>
<script src="__index__/js/public.js" defer></script>

<script src="__admin__/js/amazeui.min.js" defer></script>

<script>
(function() {var _53code = document.createElement("script");_53code.src = "https://tb.53kf.com/code/code/0551b9cd96157683e59dee0287e02be62/1";var s = document.getElementsByTagName("script")[0]; s.parentNode.insertBefore(_53code, s);})();


       $("#submit1").click(function(){
        var c_phone = $('.form1 input[name="c_phone"]').val();
        var c_name = $('.form1 input[name="c_name"]').val();
        var c_age = $('.form1 input[name="c_age"]').val();
        $.ajax({
            type: "POST",
            data: { c_age: c_age, c_name: c_name, c_phone: c_phone },
            url: "{:url('index/index')}",
            success: function (data) {
                layer.msg("<span>" + data.msg + "</span>");
            }
        });
        return false; 
       })
    $("#submit2").click(function(){
        var c_phone = $('.input input[name="c_phone"]').val();
        var c_name = $('.input input[name="c_name"]').val();
        var c_age = $('.input input[name="c_age"]').val();
        $.ajax({
            type: "POST",
            data: { c_age: c_age, c_name: c_name, c_phone: c_phone },
            url: "{:url('index/index')}",
            success: function (data) {
                layer.msg("<span>" + data.msg + "</span>");
            }
        });
        return false; 
       })
	   
	      $(".lbut").click(function(){
        var c_phone = $('.layerbox input[name="c_phone"]').val();
        var c_name = $('.layerbox input[name="c_name"]').val();
        var c_age = $('.layerbox input[name="c_age"]').val();
        $.ajax({
            type: "POST",
            data: { c_age: c_age, c_name: c_name, c_phone: c_phone },
            url: "{:url('index/index')}",
            success: function (data) {
                layer.msg("<span>" + data.msg + "</span>");
                if(data.msg == '感谢您的支持！'){
                    $(".layerbox").hide();
                }
            }
        });
        return false; 
       })

       $(".close").click(function(){
    $(".layerbox").hide();
})
$(".butlayer").click(function(){
    $(".layerbox").show();
})
// -------------------导航部分-------------------
$.ajax({
    url: "__index__/js/navjson.json",
    type: "POST",
    data: "",
    async: false,
    dataType: "json",
    success: function (data) {
        var data = data.nav;
        var html = "";
        $.each(data, function (i) {
            if (typeof data[i].children != "undefined" && data[i].children.length > 0) {
                html += '<li><a href="' + data[i].href + '">' + data[i].title + '</a><ul class="secondlevel center">';
                $.each(data[i].children, function (j) {
                    html += '<li><a href="' + data[i].children[j].href + '">' + data[i].children[j].title + '</a></li>';
                });
                html += '</ul></li>';
            }
            else {
                html += '<li><a href="' + data[i].href + '">' + data[i].title + '</a></li>';
            }
        });
        $('#navtextul').html(html);
        href();
        // 导航经过
        $(".navtextul > li").hover(function () {
            $(this).children(".secondlevel").show();
        }, function () {
            $(this).children(".secondlevel").hide();
        })
    }
});
</script>
 <script src="__index__/js/rem.js"></script>