<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="referrer" content="never">
  <meta http-equiv="Cache-Control" content="no-transform " />
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="white">
  <meta name="keywords" content="少儿编程,儿童编程,少儿编程培训,孩子编程,幼儿编程,scratch,在线少儿编程,青少年编程,海客,教育,零基础 少儿编程">
  <meta name="description" content="少儿编程网分享各类少儿编程。专注于6-17岁少儿编程教育领域发展。">

  <title>海客智能机器人</title>
  <link rel="icon" type="image/png" href="__admin__/i/favicon.png">
  <link rel="stylesheet" href="__admin__/css/amazeui.min.css" />
  <link rel="stylesheet" href="__index__/css/swiper.css">
  <link rel="stylesheet" href="__index__/css/reset.css">
  <link rel="stylesheet" href="__index__/css/style.css">
  <script>
    var _hmt = _hmt || []; (function () { var hm = document.createElement("script"); hm.src = "https://hm.baidu.com/hm.js?73556cefc0b8227237fbc6f82c60e469"; var s = document.getElementsByTagName("script")[0]; s.parentNode.insertBefore(hm, s); })(); </script>

  <script type="text/javascript" charset="utf-8" async src="http://lxbjs.baidu.com/lxb.js?sid=13868600"></script>
  <script>
    var _hmt = _hmt || [];
    (function () {
      var hm = document.createElement("script");
      hm.src = "https://hm.baidu.com/hm.js?73556cefc0b8227237fbc6f82c60e469";
      var s = document.getElementsByTagName("script")[0];
      s.parentNode.insertBefore(hm, s);
    })();
  </script>
</head>