<!DOCTYPE html>
<html lang="en">
{include file="Common/head"/}

<body>
    {include file="Common/header"/}

    <!-- banner -->
    <div class="swiper-container swiper-container-index">
        <div class="swiper-wrapper">
            {volist name="banner" id="banner"}
            <div class="indexbanner swiper-slide" style="background: url(__upload__/{$banner.image}) center center;">
            </div>
            {/volist}
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination" id="bannerpagination"></div>
    </div>
    <video  class="WeChatindex" src="__index__/video/WeChatindex.mp4" controls="controls"></video>
    <div class="bgf4">
        <div class="index_top_list">
            <ul class="am-g">
                <li class="am-u-sm-2">
                    <a href="/mobile/introduce">
                        <img src="__index__/images/20190812090213_03.png" />
                        <p>课程体系</p>
                    </a>
                </li>
                <li class="am-u-sm-2">
                    <a href="/mobile/competition">
                        <img src="__index__/images/20190812090213_05.png" />
                        <p>竞赛项目</p>
                    </a>
                </li>
                <li class="am-u-sm-2">
                    <a href="/mobile/joinin">
                        <img src="__index__/images/20190812090213_07.png" />
                        <p>招商加盟</p>
                    </a>
                </li>
                <li class="am-u-sm-2">
                    <a href="/mobile/achievements">
                        <img src="__index__/images/20190812090213_09.png" />
                        <p>教学成果</p>
                    </a>
                </li>
                <li class="am-u-sm-2">
                    <a href="javascript:;" class="butlayer">
                        <img src="__index__/images/20190812090213_11.png" />
                        <p>预约试听</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="contentWidth">
        <div class="center tuijian_title">
            <h1>海客智能机器人课程</h1>
            <p>中国领先的青少年机器人培训基地</p>
        </div>
        <div>
            <ul class="con1 am-g">
                <li class="am-u-sm-6">
                    <a>
                        <div>
                            <p>来自清华大学课程研发团队</p>
                            <p>喻学习于游戏，玩中学成就大梦想</p>
                        </div>
                    </a>
                </li>
                <li class="am-u-sm-6">
                    <a>
                        <div>
                            <p>自主研发教学硬件</p>
                            <p>打造最适合中国青少年的机器人教育</p>
                        </div>
                    </a>
                </li>
                <li class="am-u-sm-6">
                    <a>
                        <div>
                            <p>一站式加盟服务</p>
                            <p>轻松复制直营校区盈利模式</p>
                        </div>
                    </a>
                </li>
                <li class="am-u-sm-6">
                    <a>
                        <div>
                            <p>中国国家培训网创客教育</p>
                            <p>指导师培训基地</p>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="yuyue">
        <div class="box">
            <h2>
                <p>定制化智能教育</p>
                <p>加入海客看见未来！</p>
            </h2>
            <button>免费预约试听课</button>
        </div>
    </div>
    <div class="contentWidth bgf4">
        <div class="center tuijian_title bgf">
            <h1>系统的学习孩子更受益</h1>
            <p>机器人课程+编程课程，系统的学习更受益</p>
        </div> 
        <div class="swiper-container-index swiper-container am-margin-bottom-xs bgf">
            <div class="swiper-wrapper">
                <div class="swiper-slide tuijian_con">
                    <ul>
                        <li>
                            <div class="tit">
                                <ul>
                                    <li>MEI课程<em></em></li>
                                    <li>SPN编程课程</li>
                                    <li>机器人竞赛</li>
                                    <li>幼儿课程</li>
                                </ul>
                            </div>
                            <a href="#" class="pic">
                                <img src="__index__/images/20190812104812_03.png" />
                            </a>
                            <div class="con">
                                <div class="title">
                                    <span class="weight f1">教学内容：机械style、电气style、智能style</span>
                                    <span>课程详细：海客智能机器人课程，致力于为青少年提供智能机器人教育培训解决方案，深度体现STEAM教育理念。通过益智积木搭建，科技模型制作，机器人设计、组装和编程等系列活动，让孩子提升动手能力，学习数理知识，训练逻辑思维，学会分析和解决问题，发展沟通协作技巧等，成为具有独立思考能力和创造力的未来型人才。</span>
                                </div>
                            </div>
                            <a class="lingqumore" href="/mobile/introduce">了解更多</a>
                        </li>
                    </ul>
                </div>
                <div class="swiper-slide tuijian_con">
                    <ul>
                        <li>
                            <div class="tit">
                                <ul>
                                    <li>MEI课程</li>
                                    <li>SPN编程课程<em></em></li>
                                    <li>机器人竞赛</li>
                                    <li>幼儿课程</li>
                                </ul>
                            </div>
                            <a href="#" class="pic">
                                <img src="__index__/images/20190812104816_03.jpg" />
                            </a>
                            <div class="con">
                                <div class="title">
                                    <span class="weight f1">教学内容：Scratch、Python、NOIP课程</span>
                                    <span>海客智能机器人课程为顺应国家政策和时代发展的潮流，独创性地研发了Scratch、Python、NOIP的课程体系。学习编程不仅仅是掌握编程语言，更重要在学习编程的过程中形成编程思维，锻炼思维的逻辑性和完整性，为未来的发展提供更多的可能。未来是人工智能的时代，更是编程的时代。如今，教育大省北京、山东和浙江都确定把编程纳入信息技术课程和高考的内容体系，学习编程也成为未来的一种趋势 。</span>
                                </div>
                            </div>
                            <a class="lingqumore" href="/mobile/introduce">了解更多</a>
                        </li>
                    </ul>
                </div>
                <div class="swiper-slide tuijian_con">
                    <ul>
                        <li>
                            <div class="tit">
                                <ul>
                                    <li>MEI课程</li>
                                    <li>SPN编程课程</li>
                                    <li>机器人竞赛<em></em></li>
                                    <li>幼儿课程</li>
                                </ul>
                            </div>
                            <a href="#" class="pic">
                                <img src="__index__/images/20190812104819_03.jpg" />
                            </a>
                            <div class="con">
                                <div class="title">
                                    <span class="weight f1">教学内容：VEX、WER、综合技能、创意、FLL、Make X</span>
                                    <span>海客建立了一套完整的机器人竞赛培训体系，为竞赛项目设置独立的部门。在金牌教练的指导下，在科协和电教馆组织的全国、省、市各级机器人官方比赛，VEX、 WER等国际官方赛事中均屡屡斩获大奖，获奖学员不仅在升学和自主招生考试中获得降分资格，在报考世界名校中也能获得更多优势。</span>
                                </div>
                            </div>
                            <a class="lingqumore" href="/mobile/introduce">了解更多</a>
                        </li>
                    </ul>
                </div>
                <div class="swiper-slide tuijian_con">
                    <ul>
                        <li>
                            <div class="tit">
                                <ul>
                                    <li>MEI课程</li>
                                    <li>SPN编程课程</li>
                                    <li>机器人竞赛</li>
                                    <li>幼儿课程<em></em></li>
                                </ul>
                            </div>
                            <a href="#" class="pic">
                                <img src="__index__/images/20190812104822_03.png" />
                            </a>
                            <div class="con">
                                <div class="title">
                                    <span class="weight f1">教学内容：</span>
                                    <span>海客智能机器人幼儿课程理念源于STEAM教育，专注于3-6岁幼儿的机器人课程。以“玩中学”、“恰当的任务”、“ 快乐学习”的教学理念致力于培养中国孩子创新思维、创新能力、科学素养等综合实力。</span>
                                </div>
                            </div>
                            <a class="lingqumore" href="/mobile/introduce">了解更多</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
        <div class="pic_w">
            <img src="__index__/images/index-1.png" class="pic" />
        </div>
        <div class="pic_w video-index">
                <video controls>
                        <source src="__index__/video/d61f94001a461b23fe181da64816408a.mp4" type="video/mp4">
                        您的浏览器不支持 video 标签。
                    </video> 
            <img src="__index__/images/con3m.jpg" class="pic" />
        </div>
        <div class="bgf4">
            <div class="center tuijian_title bgf">
                <h1>专业的教练团队，国际国内赛事任你驰骋</h1>
                <p>为竞赛项目设置独立的部门，根据不同学生制定不同培训方案</p>
            </div>
            <div class="vex bgf">
                <ul class="am-g">
                    <li class="am-u-sm-2"><a href="#">VEX</a></li>
                    <li class="am-u-sm-2"><a href="#">WER</a></li>
                    <li class="am-u-sm-2"><a href="#">综合技能</a></li>
                    <li class="am-u-sm-2"><a href="#">创意</a></li>
                    <li class="am-u-sm-2"><a href="#">MakeX</a></li>
                </ul>
            </div>

            <div class="swiper-container-index swiper-container am-margin-bottom-xs bgf">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide tuijian_con">
                            <ul>
                                <li>
                                    <a href="/mobile/competition/vex" class="pic">
                                        <img src="__index__/images/pic5.png" />
                                    </a>
                                    <div class="con">
                                        <div class="title">
                                            <span class="weight f1">VEX工程挑战赛</span>
                                            <span>VEX是全球规模最大，最受科技类大学认可的机器人比赛，也是中国青少年机器人竞赛中的重要项目。</span>
                                        </div>
                                    </div>
                                    <a class="lingqumore" href="/mobile/competition/vex">了解更多</a>
                                </li>
                            </ul>
                        </div>
                        <div class="swiper-slide tuijian_con">
                            <ul>
                                <li>
                                    <a href="/mobile/competition/wer" class="pic">
                                        <img src="__index__/images/pic6.png" />
                                    </a>
                                    <div class="con">
                                        <div class="title">
                                            <span class="weight f1">WER工程创新赛</span>
                                            <span>WER是一项面向全球4-18岁青少年的教育机器人比赛，每年全球有超过50多个国家的50万名选手参加各级WER选拔赛。</span>
                                        </div>
                                    </div>
                                    <a class="lingqumore" href="/mobile/competition/wer">了解更多</a>
                                </li>
                            </ul>
                        </div>
                        <div class="swiper-slide tuijian_con">
                            <ul>
                                <li>
                                    <a href="/mobile/competition/makex" class="pic">
                                        <img src="__index__/images/pic7.png" />
                                    </a>
                                    <div class="con">
                                        <div class="title">
                                            <span class="weight f1">机器人综合技能 MakeX</span>
                                            <span>机器人综合技能比赛是中国青少年机器人竞赛项目之一。其活动对象为中小学生，要求参加比赛的代表队在现场自行拼装机器人、编制机器人运行程序、调试和操作机器人。</span>
                                        </div>
                                    </div>
                                    <a class="lingqumore" href="/mobile/competition/makex">了解更多</a>
                                </li>
                            </ul>
                        </div>
                        <div class="swiper-slide tuijian_con">
                            <ul>
                                <li>
                                    <a href="/mobile/competition/cys" class="pic">
                                        <img src="__index__/images/pic8.png" />
                                    </a>
                                    <div class="con">
                                        <div class="title">
                                            <span class="weight f1">机器人创意项目</span>
                                            <span>机器人创意比赛是基于每年一度的中国青少年机器人竞赛的主题与规则，教育部、电教馆举办的机器人赛事，都设置了创意机器人相关项目。</span>
                                        </div>
                                    </div>
                                    <a class="lingqumore" href="/mobile/competition/cys">了解更多</a>
                                </li>
                            </ul>
                        </div>
                    </div>
  
                    <div class="swiper-pagination"></div>
                </div>
               
        </div>
        <div class="pic_w white dazao bgf">
            <div class="box">
                <h1>自主研发教学硬件</h1>
                <h2>打造最适合中国青少年的机器人教育</h2>
            </div>

            <img src="__index__/images/con4m-2.png" class="pic" />
        </div>
        <div class="center tuijian_title bgf">
                <h1>海客获得荣誉</h1>
                <p>加入海客，每一次胜利都会成为孩子自信的源泉</p>
            </div> 
            <div class="swiper-container-index swiper-container am-margin-bottom-xs bgf">
                <div class="swiper-wrapper">
                    <div class="swiper-slide tuijian_con">
                        <ul>
                            <li>
                                <div class="tit">
                                    <ul>
                                        <li>国际赛荣誉<em></em></li>
                                        <li>国家赛荣誉</li>
                                        <li>省级赛荣誉</li>
                                    </ul>
                                </div>
                                <div class="con">
                                    <div class="title honor"> 
                                        <span>
                                        <p>2019亚洲机器人锦标赛中国选拔赛南大区赛 初中组冠军</p>
                                        <p>2019世界机器人大会总决赛VEX工程挑战赛全能奖</p>
                                        <p>2018-2019赛季VEX机器人亚洲公开赛初中组、高中组一等奖</p>
                                        <p>2018-2019VEX亚洲锦标赛初中、高中组金奖</p>
                                        <p>2018-2019VEX亚洲锦标赛初中组银奖</p>
                                        <p>2018-2019VEX亚洲公开赛粤港澳大湾区赛季军</p>
                                        <p>2018赛季WER世界锦标赛小学组一等奖</p>
                                        <p>2017赛季WER世界锦标赛初中组亚军</p>
                                        <p>2016泛太平洋VEX工程挑战赛季军，Gold Award</p>
                                        <p>2016泛太平洋VEX工程挑战赛,Energy Award . Science Award</p>
                                    </span>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="swiper-slide tuijian_con">
                        <ul>
                            <li>
                                <div class="tit">
                                    <ul>
                                        <li>国际赛荣誉</li>
                                        <li>国家赛荣誉<em></em></li>
                                        <li>省级赛荣誉</li>
                                    </ul>
                                </div>
                                <div class="con">
                                    <div class="title honor">
                                           <p> 2019亚洲机器人锦标赛中国选拔赛南大区赛 初中组冠军</p>
                                           <p>2019世界机器人大会总决赛VEX工程挑战赛全能奖</p>
                                        <p>2019广东省第二十届中小学电脑制作活动创客项目 初中组冠军</p>
                                        <p>2019广东省青少年机器人竞赛VEX工程挑战赛小学、高中组冠军</p>
                                        <p>2019广东省青少年机器人竞赛创意机器人比赛初中组冠军</p>
                                        <p>2019广东省青少年机器人竞赛WER工程挑战赛小学组亚军</p>
                                        <p>2019广东省青少年机器人竞赛VEX工程挑战赛高中组亚军</p>
                                        <p>2018中国青少年机器人竞赛综合技能项目小学组二等奖</p>
                                        <p>2018中国青少年机器人竞赛VEX工程挑战赛高中组三等奖</p>
                                        <p>2016中国青少年机器人竞赛足球项目小学组一等奖</p>
                                        <p>2016中国青少年机器人竞赛创意项目小学组一等奖</p>
                                        <p>2017中国青少年机器人竞赛VEX工程挑战赛高中组二等奖</p>
                                        <p>2017中国青少年机器人竞赛VEX工程挑战赛小学组三等奖</p>
                                        <p>2017中国青少年机器人竞赛创意项目小学组二等奖</p>
                                        <p>中国青少年机器人竞赛创意项目二等奖</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="swiper-slide tuijian_con">
                        <ul>
                            <li>
                                <div class="tit">
                                    <ul>
                                        <li>国际赛荣誉</li>
                                        <li>国家赛荣誉</li>
                                        <li>省级赛荣誉<em></em></li>
                                    </ul>
                                </div>
                                <div class="con">
                                    <div class="title honor">
                                        <p>2018中国青少年机器人大赛广东省VEX工程挑战赛高中组冠军</p>
                                        <p>2018中国青少年机器人大赛广东省综合技能项目小学组冠军</p>
                                        <p>2018中国青少年机器人竞赛WER工程创新赛广东省季军</p>
                                        <p>2016第十六届广东省青少年机器人竞赛FLL工程挑战赛二等奖</p>
                                        <p>2017广东省青少年机器人竞赛VEX工程挑战赛小学、高中组冠军</p>
                                        <p>2017广东省青少年机器人大赛WER工程创新赛小学、初中组亚军</p>
                                        <p>第十五届广东省青少年机器人竞赛创意项目冠军</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="swiper-pagination"></div>
            </div>

        <!-- 师资实力 -->
        <div class="tuijian_con contentWidth am-padding-bottom-xs">
            <div class="center tuijian_title tuijian_title_ter">
                <h1>学习机器人课程，选对老师很重要</h1>
            </div>
            <!-- Swiper -->
            <div class="swiper-container swiper-container-ter ter_content_list">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <a href="#" class="list">
                            <div class="head">
                                <div class="pic">
                                    <img src="__index__/images/ter-head-1.png" />
                                </div>
                            </div>
                            <div class="body">
                                <h2 class="f22 weight center">喻江</h2>
                                <h3 class="center">海客智能教学总监·清华大学硕士</h3>
                                <p>本科毕业于南京大学软件专业，研究生毕业于清华大学，喻老师专注于STEAM创客教育等相关研究，从事青少年机器人教育多年，有丰富的课程开发经验和教学经验。</p>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="list">
                            <div class="head">
                                <div class="pic">
                                    <img src="__index__/images/ter-head-2.png" />
                                </div>
                            </div>
                            <div class="body">
                                <h2 class="f22 weight center">蔡霖</h2>
                                <h3 class="center">海客金牌讲师·大连理工大学硕士</h3>
                                <p>毕业于大连理工大学机械专业硕士，具有多年的教学经验。蔡老师讲课风格幽默且思路清晰，课堂中也不断贯穿STEAM教育理念，善于和小孩沟通，能够顾及到学生的心里特点和接受能力。
                                </p>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="list">
                            <div class="head">
                                <div class="pic">
                                    <img src="__index__/images/ter-head-3.png" />
                                </div>
                            </div>
                            <div class="body">
                                <h2 class="f22 weight center">程志刚</h2>
                                <h3 class="center">WER机器人竞赛金牌教练</h3>
                                <p>拥有多年的国际大赛国内赛事带队经验，队员荣获2017WER机器人世界锦标赛亚军。包揽2018WER机器人广州市赛冠亚季军。
                                </p>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="list">
                            <div class="head">
                                <div class="pic">
                                    <img src="__index__/images/ter-head-4.png" />
                                </div>
                            </div>
                            <div class="body">
                                <h2 class="f22 weight center">刘梦杰</h2>
                                <h3 class="center">机器人竞赛金牌教练</h3>
                                <p>
                                    刘梦杰老师，师范类教育专业毕业，曾任多家小学和教育机构机器人教育指导老师，拥有丰富的教学经验。带队获得广东省青少年机器人竞赛机器人综合技能比赛小学组一等奖 、并在全国青少年机器人竞赛机器人综合技能比赛中获得二等奖。
                                </p>
                            </div>
                        </a>

                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="list">
                            <div class="head">
                                <div class="pic">
                                    <img src="__index__/images/ter-head-5.png" />
                                </div>
                            </div>
                            <div class="body">
                                <h2 class="f22 weight center">邱润泽</h2>
                                <h3 class="center">机器人竞赛金牌教练</h3>
                                <p>丘润泽老师注重培养学生兴趣，善于激发学生的潜能，授课风格幽默风趣，广受学员与家长喜爱。他多次带队在机器人创意比赛上获得优异成绩：第20届广东省中小学电脑制作活动“创意智造”初中组冠军；2019广州市青少年电子信息智能创新大赛电子工程项目小学组冠军等。
                                </p>
                            </div>
                        </a>

                    </div>
                </div>
            </div>
            <div class="swiper-button-ter swiper-button-next swiper-button-black"></div>
            <div class="swiper-button-ter swiper-button-prev swiper-button-black"></div>
            <a href="#" class="center lingqu">免费领取388元试听课</a>
        </div>
        <div id="certify">
            <div class="center tuijian_title">
                <h1 class="white">看家长怎么说</h1>
                <p class="white">家长的认可是海客不断进步的源泉</p>
            </div>
            <div class="swiper-container" style="height: 7.6rem;">
                <div class="swiper-wrapper">
                    <div class="swiper-slide"><img src="__index__/images/w1.png" />
                    </div>
                    <div class="swiper-slide"><img src="__index__/images/w2.png" />
                    </div>
                    <div class="swiper-slide"><img src="__index__/images/w3.png" />
                    </div>
                    <div class="swiper-slide"><img src="__index__/images/w4.png" />
                    </div>
                    <div class="swiper-slide"><img src="__index__/images/w5.png" />
                    </div>
                    <div class="swiper-slide"><img src="__index__/images/w6.png" />
                    </div>
                    <div class="swiper-slide"><img src="__index__/images/w7.png" />
                    </div>
                    <div class="swiper-slide"><img src="__index__/images/w8.png" />
                    </div>
                    <div class="swiper-slide"><img src="__index__/images/w9.png" />
                    </div>
                </div>
            </div>
            <!-- white -->
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
        <div class="flexcontent">
            <div class="center tuijian_title clearfix">
                <h1>海客活动精彩瞬间</h1>
                <p>打造不同形式的科技体验活动，让更多孩子爱上机器人</p>
            </div>
            <div class="contentWidth flex botton_pic">
                <!-- 左边 -->
                <a class="flex1">
                    <img src="__index__/images/pic9.jpg" />
                    <p>粤港澳创客大赛启动会</p>
                </a>
                <!-- 右边 -->
                <div class="flex2 column">
                    <!-- 上边 -->
                    <div class="flex h27">
                        <a class="flex2"> <img src="__index__/images/pic10.jpg" />
                            <p>广东实验中学科技</p>
                        </a>
                        <a class="flex1"> <img src="__index__/images/pic11.jpg" />
                            <p>中山大学附属中</p>
                        </a>
                    </div>
                    <!-- 下边 -->
                    <div class="flex h27">
                        <a class="flex1"> <img src="__index__/images/pic12.jpg" />
                            <p>中国电信科技体</p>
                        </a>
                        <a class="flex2"> <img src="__index__/images/pic13.jpg" />
                            <p>海客智能科技圣诞</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="center tuijian_title clearfix">
                <h1>品牌合作</h1>
                <p>与各大品牌深度合作，选择海客值得信赖</p>
            </div>
            <div>
                <ul class="fr_logo am-g">
                    <li class="am-u-sm-4">
                        <img src="__index__/images/con5_16.png">
                    </li>
                    <li class="am-u-sm-4">
                        <img src="__index__/images/con5_17.png">
                    </li>
                    <li class="am-u-sm-4">
                        <img src="__index__/images/con5_13.png">
                    </li>
                </ul>
                <ul class="fr_logo am-g">
                   
                    <li class="am-u-sm-4">
                        <img src="__index__/images/con5_11.png">
                    </li>
                    <li class="am-u-sm-4">
                        <img src="__index__/images/con5_12.png">
                    </li>
                    <li class="am-u-sm-4">
                        <img src="__index__/images/con5_09.png">
                    </li>
                </ul>
                <ul class="fr_logo am-g">
                    <li class="am-u-sm-4">
                        <img src="__index__/images/con5_10.png">
                    </li>
                    <li class="am-u-sm-4">
                        <img src="__index__/images/con5_18.png">
                    </li>
                    <li class="am-u-sm-4">
                        <img src="__index__/images/con5_19.png">
                    </li>
                </ul>
            </div>
        </div>
        <div class="contentWidth clearfix am-padding-bottom-xs">
                <div class="center tuijian_title am-padding-bottom-xs">
                    <h1>联系我们</h1>
                </div>
                <div class="am-u-lg-8 am-padding-top am-u-md-8 am-u-sm-12 am-u-xs-12 am-padding-0">
                    <form class="am-form am-form-about">
                        <fieldset>
                            <div class="am-u-lg-6 am-u-md-6 am-u-sm-12 am-u-xs-12 am-padding-0 am-margin-bottom-xs">
                                <div class="am-u-lg-4 am-u-md-4 am-u-sm-2 am-u-xs-2 am-padding-0 am-text-right">
                                    <label><em class="am-text-danger">*</em>姓名：</label>
                                </div>
                                <div class="am-u-lg-8 am-u-md-8 am-u-sm-10 am-u-xs-10 am-padding-left-xs">
                                    <input type="text" placeholder="姓名">
                                </div>
                            </div>
                            <div class="am-u-lg-6 am-u-md-6 am-u-sm-12 am-u-xs-12 am-padding-0 am-margin-bottom-xs">
                                <div class="am-u-lg-4 am-u-md-4 am-u-sm-2 am-u-xs-2 am-padding-0 am-text-right">
                                    <label><em class="am-text-danger">*</em>电话：</label>
                                </div>
                                <div class="am-u-lg-8 am-u-md-8 am-u-sm-10 am-u-xs-10 am-padding-left-xs">
                                    <input type="text" placeholder="手机号码">
                                </div>
                            </div>
                            <div class="am-u-lg-6 am-u-md-6 am-u-sm-12 am-u-xs-12 am-padding-0 am-margin-bottom-xs">
                                <div class="am-u-lg-4 am-u-md-4 am-u-sm-2 am-u-xs-2 am-padding-0 am-text-right">
                                    <label><em class="am-text-danger">*</em>邮箱：</label>
                                </div>
                                <div class="am-u-lg-8 am-u-md-8 am-u-sm-10 am-u-xs-10 am-padding-left-xs">
                                    <input type="email" placeholder="电子邮箱">
                                </div>
                            </div>
                            <div class="am-u-lg-6 am-u-md-6 am-u-sm-12 am-u-xs-12 am-padding-0 am-margin-bottom-xs">
                                <div class="am-u-lg-4 am-u-md-4 am-u-sm-2 am-u-xs-2 am-padding-0 am-text-right">
                                    <label><em class="am-text-danger">*</em>公司：</label>
                                </div>
                                <div class="am-u-lg-8 am-u-md-8 am-u-sm-10 am-u-xs-10 am-padding-left-xs">
                                    <input type="text" placeholder="你的公司名称">
                                </div>
                            </div>
                            <div class="am-u-lg-6 am-u-md-6 am-u-sm-12 am-u-xs-12 am-padding-0">
                                <div class="am-u-lg-4 am-u-md-4 am-u-sm-2 am-u-xs-2 am-padding-0 am-text-right">
                                    <label><em class="am-text-danger">*</em>内容:</label>
                                </div>
                                <div class="am-u-lg-8 am-u-md-8 am-u-sm-10 am-u-xs-10 am-padding-left-xs">
                                    <textarea rows="5" placeholder=""></textarea>
                                </div>
                            </div>
                            <div class="am-u-lg-12 am-u-md-12 am-u-sm-12 am-u-xs-12 am-margin-top-xs">
                                <button type="submit" class="am-btn am-btn-default">提交</button>
                            </div>
                           
                        </fieldset>
                    </form>
                </div>
            </div>
	
        {include file="Common/footer"/}
        <script>
            $("#submit").click(function () {
                var c_phone = $('.form1 input[name="c_phone"]').val();
                var c_name = $('.form1 input[name="c_name"]').val();
                var c_age = $('.form1 input[name="c_age"]').val();
                $.ajax({
                    type: "POST",
                    data: { c_age: c_age, c_name: c_name, c_phone: c_phone },
                    url: "{:url('index/index')}",
                    success: function (data) {
                        layer.msg("<span>" + data.msg + "</span>");
                    }
                });
                return false;
            })

        </script>
</body>

</html>